{% include "snippets/quotes/quote-template.twig" with {
    
    "quote":
    "I've just tested with an app I created a while ago on Fortrabbit and everything worked flawlessly. Thank you all for your involvement. I'm very excited about the <a href='http://blackfire.io'>blackfire.io</a> integration.",

    "image":
    "https://pbs.twimg.com/profile_images/443336758403424256/U5bzXI5l_bigger.jpeg",

    "twitterhandle":
    "fabpot",

    "name":
    "Fabien Potencier",
    
    "countrycode":
    "FR",

    "title":
    "project lead for Symfony"

}%}