{% include "snippets/quotes/quote-template.twig" with {
    
    "quote":
    "Our thanks go out to <a href='https://twitter.com/fortrabbit'>@fortrabbit</a> for helping. If you’re looking for great PHP hosting, look no further: <a href='http://www.fortrabbit.com'>fortrabbit.com</a> <a href='https://twitter.com/hashtag/laravel?src=hash'>#laravel</a>",

    "image":
    "https://pbs.twimg.com/profile_images/2796504369/0e7f8afe915231804e7dd1d0f1e4c0e9_bigger.png",

    "twitterhandle":
    "LaravelIO/status/565976494238076928",

    "name":
    "Dries Vints",
    
    "countrycode":
    "BE",

    "title":
    "Laravel.io maintainer"

}%}
