{% include "snippets/quotes/quote-template.twig" with {
    
    "quote":
    "Got sick of wrestling with Linux and Apache so tried out <a href='https://twitter.com/fortrabbit'>@fortrabbit</a> and very glad I did. Perfect solution.",

    "image":
    "https://pbs.twimg.com/profile_images/505294785616166913/CR7itGZw.png",

    "twitterhandle":
    "Shealan/status/328487710295740418",

    "name":
    "Shealan Forshaw",
    
    "countrycode":
    "UK",

    "title":
    "founder of beatnode"

}%}