{% include "snippets/quotes/quote-template.twig" with {
    
    "quote":
    "<a href='https://twitter.com/fortrabbit'>@fortrabbit</a> the best PHP cloud hosting platform I have used to date. No downtime and super fast. Scale in seconds.",

    "image":
    "https://pbs.twimg.com/profile_images/567058036376608768/p9v6rPob_bigger.jpeg",

    "twitterhandle":
    "silentworks/status/320220547566940160",

    "name":
    "Andrew Smith",
    
    "countrycode":
    "UK",

    "title":
    "core contributor on Slim Framework"

}%}