{% include "snippets/quotes/quote-template.twig" with {
    
    "quote":
    "There's exceptional support. And then there's super super super exceptional support. That's <a href='https://twitter.com/fortrabbit'>@fortrabbit</a>.",

    "image":
    "https://pbs.twimg.com/profile_images/430609539281346560/vlVsXmFb_bigger.png",

    "twitterhandle":
    "_dixens/status/523044854050594816",

    "name":
    "Nicolas Dupuy",
    
    "countrycode":
    "FR",

    "title":
    "web developer &amp; consultant"

}%}