vendor
node_modules/
dist/
*.map
public/dist/
npm-debug.log
aws.json
templates/pricing_region_eu1.html
templates/pricing_region_eu2.html
pricing_professional.html
pricing_support.html
pricing_universal.html
pricing_support.html
