{# 404 page content for: www, blog, help, (dashboard?) #}

{% set Title = "404 — File not found" %}

<p class="m-top-xl type-xl type-thin">404 error</p>
<h1 class="type-xxxl">
    File not found
</h1>
<p class="type-serif type-italic type-xl">
    {{ random([
        'Blame Canada',
        'Somebody screwed up — not me',
        'Do not use the elevators',
        'Git commit, git push, then leave the building',
        'Don’t tweet before leaving the building',
        'Move along, there is nothing to see here',
        'You are being punished for making up URLs',
        'You are lost, dude',
        'Yer off the edge of the map — Here be dragons'
    ]) }}
</p>

<div class="support-info">
    <p>
        Let's fix that broken link together! Where did you came from and what you were looking after?
    </p>
</div>