{# This little teaser to signup can be used beside articles, blog, help #}

<div class="m-top-xl alert edged" data-user="unknown">
    <h5 class="sectionHeading">
        About fortrabbit
    </h5>
    <p class="type-serif type-italic type-l">
        {{ random([
        "PHP hosting for busy people. Git push your idea into the wild now.",
        "Imagine serverless hosting – where you code and we deliver.",
        "High value, low costs. Fully managed PHP hosting platform made for you.",
        "The PHP hosting platform to run and scale your Apps in a managed cloud.",
        "PHP as a Service is where you focus on coding and we run the infra."
        ]) }}
    </p>

    <a href="{{ dashboard_url }}/signup" class="action">
        Sign up free ›
    </a>
    <p class="type-s">
        <a href="{{ www_url }}">
            ‹ Learn more
        </a>
    </p>
</div>
