<a href="{{ blog_url }}/object-storage-launched" class="os-link">
    Have you seen our new Object Storage? S3 compatible file storage.
</a>


{% set actioncolor  = '#ba35fd' %}
{% set fancycolor   = '#33cc99' %}
{% set bodycolor    = '#f8f8f7' %}

<style>
    .os-link {
        padding: .3rem;
        font-size: .9rem;
        text-align:center;
        position: absolute;
        width: 100%;
        z-index: 1000;
        background-color: {{ fancycolor }};
        color: {{ bodycolor }};
    }
    .os-link:hover {
        background-color: {{ actioncolor }};
    }

</style>