<!-- Begin MailChimp Signup Form -->

<style>
    
    .us-signup-notifier {
        position: relative;
        min-height: 10rem;
        padding: 8vw;
        padding-top: 16vw;
        background-color: #06149a;
        border-top: 22px solid #9A0000;
        z-index: 3;
    }
    .us-signup-notifier:before {
        content: '★';
        font-size: 8rem;
        position: absolute;
        top: -6rem;
        right: 6vw;
        color: #D9DDB2;

    }
    .us-signup-notifier h2, .us-signup-notifier p {
        color: #D9DDB2;
    }
    .us-signup-notifier input[type=email] {
        background-color: #E0CDC0;
        border-color: #1b1a18;
        background-color: #245CC3;
    }
    .us-signup-notifier input[type=email]:hover,
    .us-signup-notifier input[type=email]:focus {
        background-color: #2A6BE6;
    }
    .us-signup-notifier .action {
        background-color: #1b1a18;
        color: #D9DDB2;
    }
    .us-signup-notifier .action:hover {
        background-color: #000000;
    }

    #mce-responses .response {
        background-color: #D9DDB2;
        border-color: #1b1a18;
    }

    #mce-responses #mce-error-response {
        background-color: #05D900;
    }
    #mce-responses #mce-success-response {
        background-color: #03B600;
    }
</style>

<div id="mc_embed_signup" class="us-signup-notifier">
    <h2 class="m-bottom-xs">fortrabbit comes to the US</h2>
    <p>
        Get a one time email when the new data center location is ready. 
    </p>
    <form action="//fortrabbit.us5.list-manage.com/subscribe/post?u=0ff2bab22ff27e4f2978f7065&amp;id=5a74d202eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="row gutter-no">

            <input type="email" value="" name="EMAIL" class="required email p-m type-l" id="mce-EMAIL" placeholder="curious.cat@gmail.com">
            <input type="submit" value="Let me know" name="subscribe" id="mc-embedded-subscribe" class="button action auto p-m type-l">

            {# spam bot honey pot #}
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_0ff2bab22ff27e4f2978f7065_5a74d202eb" tabindex="-1" value="">
            </div>

        </div>
        <div id="mce-responses">
            <div class="response m-top-xs box" id="mce-error-response" style="display:none"></div>
            <div class="response m-top-xs box" id="mce-success-response" style="display:none"></div>
        </div>

    </form>
</div>





<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->