{% extends "layout.twig" %}

{% block content %}
<div class="hero image m-top-xs">
    <p class="type-xl">Error code 404</p>
    <h1>File not found</h1>
    <p class="type-xl">
        {{ random([
            'Blame Canada!',
            'Somebody screwed up (not me)!',
            'Do not use the elevators!',
            'Don’t tweet before leaving the building!',
            'Move along, there is nothing to see here!',
            'You are being punished for making up URLs.',
            'You are lost, dude!',
            'Yer off the edge of the map. Here be dragons.'
        ]) }}
    </p>
</div>
{% endblock %}