{% extends "layout.twig" %}

{% set title       = "Agency Hosting" %}
{% set activeClass = 'nav_agency' %}

{% set cta = {
    'campaign'        : 'agency',
    'button_wording_1': 'Sign up',
    'button_wording_2': 'see web agency hosting in action'
    }
%}

{% block content %}
<div class="hero image photo2 spacertop">
	<h1>PHP hosting for <br>digital agencies</h1>
	<p>Don't miss deadlines while fighting technology.</p>
	{% include "snippets/hero-button.twig" with {
		'campaign':'agency',
		'button_wording_1': 'Get ahead',
		'button_wording_2': '— start your free trial'
	}%}
</div>
<div class="box phuge spacertop">
	{% include random([
		'snippets/quotes/kalle-blackfire.twig',
		'snippets/quotes/support-1.twig',
		'snippets/quotes/support-2.twig'
	]) %}
</div>
<article class="phuge">
	<p class="lead">
		<b>Are you running a web agency or dev shop?</b> Great! Let's team up. Outsource infrastructure design and maintenance to us and focus on building great Apps for your clients.
	</p>
	<div class="row gutterbig spacertophuge">
		<div>
			<h4>
				Get your team ready
			</h4>
			<p>
				Multi-tenancy <a href="{{ help_url }}/collaboration">collaboration features</a> makes managing team easy. Control code access with different roles. Handle multiple billing and ownerships from one account.
			</p>
		</div>
		<div>
			<h4>
				Sleep well
			</h4>
			<p>
				No matter if you build ecommerce sites, online marketing campaigns or mobile backends — uptime is a must. Provide your clients a hosting solution that meets enterprise requirements.  Our self-service provisioning empowers you to realize high availability setups of business critical applications at ease. We <a href="/about">know</a> what we do.
			</p>
		</div>
	</div>
</article>
{% include "snippets/why-not-navigation.twig" %}
{% endblock %}
