{% extends "layout.twig" %}
{% set title = "Contact & legal notice" %}
{% set activeClass = 'nav_contact' %}
{% set bodyClass = 'marketing' %}




{% block precontent %}

{#

# Google Maps styles were broken > removed

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWhbe_AOS1u3UF4ddyyMjghhCOEPQCyu0&sensor=false"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', init);

    function init() {

        var mapOptions = {
            zoom: 14,
            draggable: false,
            zoomControl: false,
            scaleControl: false,
            scrollwheel: false,
            disableDoubleClickZoom: false,
            center: new google.maps.LatLng(52.507000,13.43938), // fortrabbit
            disableDefaultUI: true,
            backgroundColor: '#364649', // hero color

            // fortrabbit map styles based on cleaner midnight by djneo (Snazzy Maps). 
            styles: [
                {
                    "featureType": "all",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        { "color": "#1f6463" },
                        { "visibility": "on" }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        { "color": "#0a0f0c" },
                        { "visibility": "on" }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.icon",
                    "stylers": [
                        { "visibility": "off" }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        { "color": "#0a2128" }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#0f2b30" }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        { "color": "#0a100e" }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        { "color": "#0b191f" }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [
                        { "color": "#0b2b1b" }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        { "color": "#11466b" }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        { "color": "#123f2d" }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        { "color": "#114653" }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        { "color": "#071514" }
                    ]
                }
            ]
        };

        // Get the HTML DOM element that will contain your map 
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(52.497353,13.43938,17),
            map: map,
            animation: google.maps.Animation.DROP,
            title: 'fortrabbit'
        });

        google.maps.event.addDomListener(window, 'resize', function() {
            var center = map.getCenter();
            google.maps.event.trigger(map, 'resize');
            map.setCenter(center);
        });

    } // init
</script>
#}
{#
<div class="hero image oblique-end">
    <h1 class="animated zoomIn animlength1 animdelay4 oblique-claim">
        Let's get together
    </h1>
    <p class="animated zoomIn animlength2 animdelay5 type-xxl oblique-sub">
        we are right here
    </p>
</div>
#}
{% endblock %}





{% block content %}

<article class="m-top-xl">
    <h1 class="type-xxl">
        Let's get together
    </h1>
    <p class="type-l">
        we are right here
    </p>

    <div class="row wrap gutter-l collapse m-top-xl">
        <div class="third">
            <h4 id="tech">Technical questions</h4>
            <p>
                <b>Are you stuck somewhere?</b> Our public <a href="{{ help_url }}">help</a> is the main source to help yourself. It includes getting started guides and developer docs. Users also help each other on <a href="http://stackoverflow.com/questions/tagged/fortrabbit">Stack Overflow</a>. There is a <b><a href="/support">professional support offering</a></b>. And we have the little chat bubble down there.
            </p>
        </div>
        <div class="third">
            <h4 id="accounting">Accounting</h4>
            <p>
                <b>Do you have a question on your latest invoice?</b> Most billing issues are answered in our <a href="{{ help_url }}/billing">billing FAQ</a>. Otherwise please contact use the chat.
            </p>
        </div>
        <div class="third">
            <h4 id="security">Security</h4>
            <p>
                <b>Are you a security researcher?</b> Please see our <a href="{{ help_url }}/security#toc-vulnerability-reporting">security guidelines</a> on how to report possible vulnerabilities.
            </p>
        </div>
        <div class="third">
            <h4 id="uptime">
                Status
            </h4>
            <p>
                <b>Is fortrabbit down or is it just me?</b> Please visit <a href="http://status.fortrabbit.com">status.fortrabbit.com</a> where you can also subscribe to status updates.
            </p>
        </div>
        <div class="third">
            <h4 id="sales">Sales</h4>
            <p>
                <b>Need to convince your boss?</b> Want a custom quote? Talk to real experts. Mail to <a href="mailto:sales@fortrabbit.com">sales@fortrabbit.com</a> or call: <a href="tel:+49-30-609807840">+49&#8209;30&#8209;609807840</a>.
            </p>
        </div>
        <div class="third">
            <h4 id="socialmedia">Social media</h4>
            <p>
                <b>Want to like or follow us?</b> We are on <a href="https://twitter.com/fortrabbit">Twitter</a> where you can also ping us with quick questions. Our <a href="https://www.facebook.com/fortrabbit">Facebook</a> and <a href="">Google+</a> are a bit neglected.
            </p>
        </div>
        <div class="third">
            <h4 id="jobs">
                Careers
            </h4>
            <p>
                <b>Do you want to change the (PHP-)world with us?</b> Show us your PHP / SysOp skills: <a href="mailto:jobs@fortrabbit.com">jobs@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third">
            <h4 id="media">
                Media inquiries
            </h4>
            <p>
                <b>Hello TechCrunch!</b> We are right here: <a href="mailto:pr@fortrabbit.com">pr@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third">
            <h4 id="general">
                General feedback
            </h4>
            <p>
                <b>Do you have a feature idea or found a bug? </b> Please chat with us or this e-mail: <a href="mailto:feedback@fortrabbit.com">feedback@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third">
            <h4 id="telephone">
                Telephone
            </h4>
            <p>
                <b>Do you want just want to talk?</b> Go ahead and call: <a href="tel:+4930609807840">+49 30 609 80 784 0</a> during office hours Monday—Friday from 09:30—19:00 (Berlin time).</p>
            </p>
        </div>
        <div class="third" id="coworking">
            <h4>Coworking</h4>
            <p>
                <b>You are in Berlin looking to escape your working scene?</b> Let's spend a day together. Our small hub is open for guests. Check out <a href="https://www.sharedesk.net/spaces/view/1860/fortrabbit/">ShareDesk</a> for photos and also availability of permanent co-working desks. Just write mail to <a href="mailto:coworking@fortrabbit.com">coworking@fortrabbit.com</a> if you want to drop by for a day.
            </p>
        </div>
        <div class="third" id="legal">
            <h4 id="legal-notice">
                Legal
            </h4>
            <p>
                <b>Are you a lawyer checking if you could write us a warning?</b>
            </p>
            {% filter markdown %}
            {% include 'legal/legal-notice.md' %}
            {% endfilter %}


            {#
            <p>
                <b>Register entry:</b> HRB 154552 B<br>
                <b>UID (VAT IN):</b> DE292700027<br>
                <b>Authorized representatives:</b>
                Ulrich Kautz, Oliver Stark, Frank Lämmer
            </p>
            #}

        </div>
        <div class="third">
            <h4 id="postal">
                Postal
            </h4>
            <p>
                <b>So you want to snail-mail or visit us?</b> Sweet our street address is:
            </p>
            <p>
                <b>fortrabbit GmbH</b><br>
                Görlitzer Str. 52<br>
                10997 Berlin
            </p>
        </div>
    </div>
</article>
{% endblock %}