{% extends "layout.twig" %}
{% set title = "Contact & legal notice" %}
{% set activeClass = 'nav_contact' %}
{% set bodyClass = 'marketing' %}




{% block precontent %}{% endblock %}





{% block content %}

<article class="m-top-xl">
    <h1 class="type-xxl">
        Let's get together
    </h1>

    <div class="row wrap gutter-l collapse m-top-xl">
        <div class="third half-t">
            <h4 id="tech">Technical questions</h4>
            <p>
                <b>Are you stuck somewhere?</b> Our public <a href="{{ help_url }}">help</a> is the main source to help yourself. It includes getting started guides and developer docs. Users also help each other on <a href="http://stackoverflow.com/questions/tagged/fortrabbit">Stack Overflow</a>. We offer <b><a href="/company-plans">Company plans with professional support</a></b>.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="office-hours">Office hours</h4>
            <p>
                <b>The best time to catch up with us?</b> Our office is open from Monday to Friday between 09:30 and 19:00 (Berlin time). That's the offical support time frame. We try to answer quickly, our median first response time is 30 minutes.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="accounting">Accounting</h4>
            <p>
                <b>Do you have a question on your latest invoice?</b> Most billing issues are answered in our <a href="{{ help_url }}/billing">billing FAQ</a>. Otherwise please contact using the chat.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="security">Security</h4>
            <p>
                <b>Are you a security researcher?</b> Please see our <a href="{{ help_url }}/security#toc-vulnerability-reporting">security guidelines</a> on how to report possible vulnerabilities.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="uptime">
                Status
            </h4>
            <p>
                <b>Is fortrabbit down or is it just me?</b> Please visit <a href="http://status.fortrabbit.com">status.fortrabbit.com</a> where you can also subscribe to status updates.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="sales">Sales</h4>
            <p>
                <b>Need to convince your boss?</b> Want a custom quote? Talk to real experts. Mail to <a href="mailto:sales@fortrabbit.com">sales@fortrabbit.com</a> or <a href="#telephone">call</a> us.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="socialmedia">Social media</h4>
            <p>
                <b>Want to like or follow us?</b> We are on <a href="https://twitter.com/fortrabbit">Twitter</a> where you can also ping us with quick questions. Our <a href="https://www.facebook.com/fortrabbit">Facebook</a> and <a href="">Google+</a> are a bit neglected.
            </p>
            {# UGLY twitter message button
            <a href="https://twitter.com/messages/compose?recipient_id=72047502" class="twitter-dm-button" data-screen-name="fortrabbit" data-show-count="false">Message @fortrabbit</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            #}
        </div>
        <div class="third half-t">
            <h4 id="jobs">
                Careers
            </h4>
            <p>
                <b>Do you want to change the (PHP-)world with us?</b> Show us your PHP / SysOp skills: <a href="mailto:jobs@fortrabbit.com">jobs@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="media">
                Media inquiries
            </h4>
            <p>
                <b>Hello TechCrunch!</b> We are right here: <a href="mailto:pr@fortrabbit.com">pr@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="general">
                General feedback
            </h4>
            <p>
                <b>Do you have a feature idea or found a bug?</b> Please chat with us or this e-mail: <a href="mailto:feedback@fortrabbit.com">feedback@fortrabbit.com</a>.
            </p>
        </div>
        <div class="third half-t">
            <h4 id="telephone">
                Telephone
            </h4>
            <p>
                <b>Do you want just want to talk?</b> Go ahead and call: <a href="tel:+4930609807840">+49 30 609 80 784 0</a> during <a href="#office-hours">office hours</a>.</p>
            </p>
        </div>
        <div class="third half-t" id="coworking">
            <h4>Coworking</h4>
            <p>
                <b>You are in Berlin looking to escape your working scene?</b> Our small hub is open for guests. Check out <a href="https://www.sharedesk.net/spaces/view/1860/fortrabbit/">ShareDesk</a> for photos. Just write mail to <a href="mailto:coworking@fortrabbit.com">coworking@fortrabbit.com</a> if you want to drop by for a day.
            </p>
        </div>
        <div class="third half-t" id="legal">
            <h4 id="legal-notice">
                Legal
            </h4>
            <p>
                <b>Are you a lawyer checking if you could write us a warning?</b>
            </p>
            {% filter markdown %}
            {% include 'legal/legal-notice.md' %}
            {% endfilter %}
        </div>
        <div class="third half-t">
            <h4 id="postal">
                Postal
            </h4>
            <p>
                <b>So you want to snail-mail or visit us?</b> Sweet! Our street address is:
            </p>
            <p>
                <b>fortrabbit GmbH</b><br>
                Görlitzer Str. 52<br>
                10997 Berlin
            </p>
        </div>
    </div>
</article>
{% endblock %}
