{% extends "layout.twig" %}
{% set title = "Drupal hosting for digital agencies" %}
{% set activeClass = 'nav_drupal' %}
{% set bodyClass   = 'marketing' %}

{% set cta = {
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see Drupal hosting in action'
} %}


{% block precontent %}
    <div class="hero image drupal oblique-end">

        <h1 style="font-size: 7vw">
            Hosting Drupalistas
        </h1>
        <p class="claim">
            Drupal agencies welcome
        </p>

        {% include 'snippets/quick-signup-stacked-hero.twig' with {
            'headline': 'Try a better Drupal hosting'
        } %}
    </div>
{% endblock %}




{% block content %}



    <h2 class="type-xl">
        Why to host Drupal on fortrabbit
    </h2>
    <div class="row gutter-xl wrap m-top-l">
        <div class="third half-t">
            {% include '/snippets/batteries-included.twig' %}
        </div>
        <div class="third half-t">
            <h3>Set up Drupal</h3>
            <p>
                <a href="{{ help_url }}/install-drupal">Installing Drupal</a> on fortrabbit is painless. Use Drupal
                Console, Drush or Composer and <code>git push</code> to fortrabbit.
            </p>

        </div>
        <div class="third half-t">{% include "snippets/why-not-navigation.twig" %}</div>
    </div>


    {% include 'snippets/quotes.twig' with {
        'quoteText'      : 'kalle2',
        'quoteClasses'   : 'hero-quote m-top-xl'
    } %}

    <p class="m-top-m">
        <a href="/agency-hosting">Learn more about the benefits for agencies →</a>
    </p>

    <h2 class="m-top-xxl type-xxl">
        Drupal hosting and fortrabbit
    </h2>

    {% include 'snippets/software-focus-snippet.twig' with { 'software' : 'Drupal' } %}

    <p class="type-l m-top-m">
        <b>Drupal 8</b> is a huge step forward. It features modern, object-oriented code (classes, inheritance,
        interfaces), works great with PHP 7.0 and makes use of PHP standards  (PSR-4, namespaces, traits).
        It leverages many Symfony Components and Twig for templating. HTML5, mobile support and full multi-language
        integration are two more good arguments to get started with Drupal 8 right now. fortrabbit is the managed PHP
        hosting service made for a new generation of PHP developers. We ❤ Drupal.
    </p>
    <p class="type-s">Drupal is a trademark of Dries Buytaert.</p>


{% endblock %}
