{% extends "layout.twig" %}
{% set title = "Drupal 8 hosting for digital agencies" %}
{% set activeClass = 'nav_drupal8' %}
{% set bodyClass   = 'marketing' %}


{% set cta = {
    'campaign'        : 'drupal',
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see Drupal hosting in action'
    }
%}




{% block precontent %}

<div class="hero image drupal oblique-end">
    <h1 class="oblique-claim zoomIn animlength1 animdelay1 animated">
        Hosting a<br>
        modern classic
    </h1>
    <p class="oblique-sub type-xxl zoomIn animlength2 animdelay1 animated">
        something for everyone to love
    </p>
</div>

{% endblock %}






{% block content %}


{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'support2',
    'quoteClasses'   : 'hero-quote pull-up'
}%}

<article class="post m-top-xxl">
    <p class="type-l">
        <b>Drupal 8</b> is a huge step forward. It features modern, object-oriented code (classes, inheritance,
        interfaces), requires at least PHP 5.4 and makes use of PHP standards  (PSR-4, namespaces, traits).
    </p>

    <p>
        It leverages external libraries like Guzzle, Assetic, many Symfony Components and Twig for templating. HTML5, mobile support and full multi-language integration are two more good arguments to get started with Drupal 8 right now. fortrabbit is the managed PHP hosting service made for a new generation of PHP developers. We ❤ Drupal 8.
    </p>
</article>

<p class="type-xs">Drupal is a trademark of Dries Buytaert.</p>

<h2 class="m-top-xxl">Drupal 8 hosting presets</h2>
{% include '/snippets/simple-presets.twig' with { campaign: 'drupal' }  %}

<div class="row gutter-xl wrap m-top-xl">
    <div class="third half-t">
        {% include '/snippets/batteries-included.twig'  %}
    </div>
    <div class="third half-t">
        <h3>Set up Drupal 8</h3>
        <p>

            {#
                TODO: LATER LAUNCH: auf Drupal 8 Install Guide verlinken
                <a href="{{ help_url }}/install-drupal">Installing Drupal 8</a>
             #}
            Installing Drupal 8 on fortrabbit is painless. Use Drupal Console, Drush or Composer and <code>git push</code> to fortrabbit. Your deployment workflow fits - except you stick with FTP.
        </p>

    </div>
    <div class="third half-t">{% include "snippets/why-not-navigation.twig" %}</div>
</div>


{% endblock %}
