{% extends "layout.twig" %}

{% set title       = "Hosting for freelancers" %}
{% set activeClass = 'nav_freelancer' %}

{% set cta = {
    'campaign'        : 'freelancer',
    'button_wording_1': 'Sign up',
    'button_wording_2': 'and test it for free, no credit card required'
    }
%}


{% block content %}

<div class="hero image photo6 m-top-xs">
    <h1>
        PHP hosting for freelancers
    </h1>
    <p class="type-xl">
        Finally hosting that doesn't suck!
    </p>
    {#{% include "snippets/hero-button.twig" with {'campaign':'freelancer'} %}#}
</div>

<!-- calm, fitter, healthier and more productive a pig in a cage on antibiotics. -->


{% include 'snippets/quotes/silentworks-cloud.twig' %}
<article class="wrapper post">
    <p class="type-l">
        <b>Are you the famous full stack freelancing PHP web developer?</b> Great! Let's team up! We have automated SysOps so you don't have to. Focus on coding, while we provide you with a managed cloud hosting platform.
    </p>
    <div class="row gutter-xl wrap collapse m-top-xl">
        <div class="third half-tablet">
            <h4>
                Be yourself
            </h4>
            <p>
                We are what you are and we understand your culture. This service exists because we were fed up with other hosting solutions out there. This is the hosting we wanted to have for ourselves — we hope you like it.
            </p>
        </div>
        <div class="third half-tablet">
            <h4>Get happy</h4>
            <p>
                Stop tinkering with Linux and enjoy the well defined yet flexible development and deployment workflows. There is a toolbelt of built-in helpers and features.
            </p>
        </div>
        <div class="third half-tablet">
            <h4>
                Collaborate
            </h4>
            <p>
                {#Collaboration features map real world scenarios. #}This is the only hosting platform that maps your real-life business relations. Manage multiple businesses and apps from one account — from code access to billing. Transfer Apps to colleagues or clients.
            </p>
        </div>
        <div class="third half-tablet">
            <h4>
                Kill at will
            </h4>
            <p>
                There is no lock-in nor long-term contracts. The minumum billing period is one day. Leave at any time. Create and destroy Apps instantly — as many as you want. Pay only for resources you book and only after you have used them. 
            </p>
        </div>
        <div class="third half-tablet">
            <h4>
                Do it right
            </h4>
            <p>
                We are in this together. Only good code can fly, shitty code doesn't scale. So we encourage (and sometimes even enforce) to use <a href="{{ help_url }}/articles/best-practices">best coding practices</a> and also we can give you <a href="/support">Professional Support</a>.
            </p>
        </div>
        <div class="third half-tablet">
            {% include "snippets/why-not-navigation.twig" %}
        </div>
    </div>
</article>


{% endblock %}
