{% extends "layout.twig" %}

{% set title       = "Phalcon hosting in the cloud" %}
{% set activeClass = 'nav_phalcon' %}
{% set bodyClass   = 'marketing' %}


{% set cta = {
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see Phalcon hosting in action'
    }
%}


{% block precontent %}
<div class="hero image phalcon oblique-end">
    <h1 class="type-xxxl">
        Fly with phalcon
    </h1>
    <p class="claim">
        when performance matters most
    </p>
    {% include 'snippets/quick-signup-stacked-hero.twig' with {
        'headline': 'Try a better Phalcon hosting'
    }%}
</div>
{% endblock %}




{% block content %}

{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'tattershall',
    'quoteClasses'   : 'hero-quote pull-up read-xl'
}%}

{# TODO: include new standard pricing snippet, when it's available

<h2 class="m-top-xxl type-xl">Phalcon hosting presets</h2>
{% include '/snippets/simple-presets.twig' %}
#}


<article class="m-top-xl">
    <h2 class="type-xl">
        Hosting Phalcon on fortrabbit
    </h2>
    <p class="type-l m-top-m">
        <b>Phalcon</b> — implemented as a C extension — is the fastest PHP web framework ever. Phalcon can deliver a lot more requests with less memory consumption, yet it is feature rich. And: it is already installed on fortrabbit — enable it with a click. fortrabbit is the managed PHP hosting platform made for a new generation of PHP developers. We ❤ Phalcon, host it here!
    </p>
</article>

<div class="row gutter-l m-top-xl">
    <div class="third">
        {% include "snippets/why-not-navigation.twig" %}
    </div>
    <div class="third">
        <h3>Easy Phalcon set up</h3>
        <p>
            Phalcon comes as a pre-installed extension with each fortrabbit PHP App at no extra costs. You only need to <a href="{{ help_url }}/install-phalcon">enable it, to use it</a>.
        </p>
    </div>
</div>


{% endblock %}
