{% extends "layout.twig" %}
{% set title = "Pricing - PHP cloud hosting" %}
{% set activeClass = 'nav_pricing' %}




{% set javascripts %}

{# TODO: remove franks dummy code here #}
<script>

    // init
    $(function() {
        $('.comp_listitem').hide();                 // hide all individual configs
        $('.comp_detailsgroup').hide();             // hide all detailconfigs
    });

    // switch presets and show components
    $(function() {

        // switch presets & components on click
        $('.presets a').click(function(e) {
            e.preventDefault(); // just to be safe
            $('.presets a').removeClass( 'active' ); // remove all other active 
            $(this).addClass( 'active' ); // add active class
            $('.comp_detailsgroup').slideUp('fast'); // hide eventually open details
            $('.comp_listitem').hide(); // RESET! hide all details
        });


        // New App Presets
        $('#preset-n1').click(function() {
            $('#comp_base-new').show();
            $('#comp_php-xxs-new').show();
            $('#comp_mysql-xxs-new').show();
            $('#comp_memcache-new').show();
            $('#comp_workers-new').show();
            $('#comp_tls-new').show();
            $('#pricing_cta_start_free_trial').show();  // show the TRY button
        });

        // select this for start
        $('#preset-n1').trigger('click'); // init


        $('#preset-n2').click(function() {
            $('#comp_base-new').show();
            $('#comp_php-xs-new').show();
            $('#comp_mysql-xs-new').show();
            $('#comp_memcache-new').show();
            $('#comp_workers-new').show();
            $('#comp_tls-new').show();
            $('#pricing_cta_start_free_trial').hide();  // show the TRY button
        });

        $('#preset-n3').click(function() {
            $('#comp_base-new').show();
            $('#comp_php-m2-new').show();
            $('#comp_mysql-s-new').show();
            $('#comp_memcache-new').show();
            $('#comp_workers-new').show();
            $('#comp_tls-new').show();
            $('#pricing_cta_start_free_trial').hide();  // show the TRY button
        });




        // Tinkering
        $('#preset-o1').click(function() {
            $('#comp_base-old').show();
            $('#comp_php-xs-old').show();
            $('#comp_mysql-s-old').show();
            $('#comp_memcache-old').show();
            $('#comp_workers-old').show();
            $('#comp_tls-old').show();
            $('#pricing_cta_start_free_trial').show(); // show the TRY button
        });


        // modest
        $('#preset-o2').click(function() {
            $('#comp_base-old').show();
            $('#comp_php-s-old').show();
            $('#comp_mysql-m-old').show();
            $('#comp_memcache-xs-old').show();
            $('#comp_workers-old').show();
            $('#comp_tls-old').show();
            $('#pricing_cta_start_free_trial').hide();// hide the TRY button
        });

        // mission critical
        $('#preset-o3').click(function() {
            $('#comp_base-old').show();
            $('#comp_php-l-old').show();
            $('#comp_mysql-l-old').show();
            $('#comp_memcache-s-old').show();
            $('#comp_workers-s-old').show();
            $('#comp_tls-old').show();
            $('#pricing_cta_start_free_trial').hide();// hide the TRY button
        });
    });


    // switch from components list to detail
    $(function() {
        $('a.comp_listitem').click(function(e){
            e.preventDefault();
            $(this).slideUp('fast'); // hide the thing itself
            $(this).siblings('.comp_detailsgroup').slideDown('fast'); // show the details
            $('#presets a').removeClass( 'active' ); // remove active calls from presets
        });
    });

    // switch back from component detail to list
    $(function() {
        $('.comp_detail').click(function(e){
            e.preventDefault();
            var plan = $(this).attr('id');
            //console.log(plan);
            $(this).siblings().removeClass('active'); // remove active class from others
            $(this).addClass( 'active' );
            $(this).closest('.comp_detailsgroup').slideUp('fast'); // hide these details
            $(this).closest('.list_row').find('#comp_' + plan).slideDown('fast');;
            $(this).next('.comp_listitem').slideDown('fast'); // show the list item again
        });
    });

    // click on the Old Apps link toggle presets & components
    // could also be animated
    $(function() {
        $('[data-apptoggle="showold"]').click(function(){
            $('[data-apps="new"]').toggleClass('hidden');
            $('[data-apps="old"]').toggleClass('hidden');
            $('#preset-o1').trigger('click'); // init
        });
        $('[data-apptoggle="shownew"]').click(function(){
            $('[data-apps="new"]').toggleClass('hidden');
            $('[data-apps="old"]').toggleClass('hidden');
            $('#preset-n1').trigger('click'); // init
        });
    });

    
</script>
{% endset %}



{% block content %}

<div class="m-top-l appscontainer">
    <div data-apps="new" class="newappscontainer">
        <div class="type-s p-s right">
            <a href="#" data-apptoggle="showold" class="linkstyle">Looking for the <span>Old Apps</span>?</a>
        </div>
        {% include "snippets/presets-newapps.twig" %}
        {% include "snippets/componentlist-newapps.twig" %}
    </div>
    <div data-apps="old" class="hidden oldappscontainer">
        <div class="type-s p-s right">
            <a href="#" data-apptoggle="shownew" class="linkstyle">Back to the <span>New Apps</span>!</a>
        </div>
        {% include "snippets/presets-oldapps.twig" %}
        {% include "snippets/componentlist-oldapps.twig" %}
    </div>
</div>

    <div class="row gutter-s m-top-s">
        <div class="auto" id="pricing_cta_start_free_trial">
            <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action b-4 p-l fwdcta type-xl">
                <span>Try</span>
                <span class="type-thin hidetablet"> for 72h</span>
            </a>
        </div>
        <div id="pricing_cta_book_now">
            <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="row type-xl p-l action fwdcta">
                <div>Buy</div>
                <div class="auto right">
                    <span class="type-thin">for monthly</span> <span class="type-thin">€</span><span id="x-totalprice">5</span>
                </div>
            </a>
        </div>
    </div>

    <p class="type-s m-top-s auto"><b>No credit card required for trial.</b> Visa, Master, SEPA accepted once you decide to upgrade.</p>

{% include "snippets/pricing-faq.twig" %}

{% endblock %}

