{% extends "layout.twig" %}
{% set title = "Startup Hosting" %}
{% set activeClass = 'nav_startup' %}

{% set cta = {
    'campaign'        : 'startup',
    'button_wording_1': 'Sign up',
    'button_wording_2': 'and get your MVP up and running quickly'
    }
%}


{% block content %}

<div class="hero image photo0 spacertop">
	<h1>PHP hosting<br>for startups</h1>
	<p>
		A <accr title="Platform as a Service">PaaS</accr> for your <accr title="Software as a Service">SaaS</accr>.
		{#Platform as a Service for your Software as a Service.#}
	</p>
	{% include "snippets/hero-button.twig" with {
		'campaign':'startup',
		'button_wording_2':'— build, deploy, profit, repeat'
	}%}
</div>

<div class="box phuge darkish spacertop">
	{% include random([
		'snippets/quotes/kalle-blackfire.twig',
		'snippets/quotes/support-1.twig',
		'snippets/quotes/support-2.twig'
	]) %}
</div>

<div class="phuge">
	<p class="lead">
		<b>You are building the final PHP App to rule the world?</b> Great. Let's partner up. We provide you with a managed hosting platform to focus on code instead of infrastructure management. Outsource system operations to us.
	</p>

	<div class="row gutterbig collapse spacertophuge">
		<div class="third">
			<h4>
				Build
			</h4>
			<p>
				Get your <accr title="Minimal Viable Product">MVP</accr> up and running quickly. Our well defined work-flows are built for agile and continues development with great team- and deployment-features.
			</p>
		</div>
		<div class="third">
			<h4>
				Measure
			</h4>
			<p>
				Do your smoke-, A/B- and whatnot-tests with our easy multi staging. Get your customer feedback, iterate and pivot, pivot, pivot.
			</p>
		</div>
		<div class="third">
			<h4>
				Profit
			</h4>
			<p>
				Escalate or shrink instantly. With the consumption based billing and a daily billing period you only pay for what you really use - when you use it.
			</p>
		</div>
	</div>
</div>
{% include "snippets/why-not-navigation.twig" %}

{% endblock %}
