{% extends "layout.twig" %}

{% set title = "Hosting with good support" %}
{% set activeClass = 'nav_support' %}
{% set bodyClass = 'marketing contrast' %}
{#{% set hideMainCta = 1 %}#}





{% block precontent %}
<div class="hero photo photo1 oblique-end">
    <h1 class="oblique-claim zoomIn animlength1 animdelay1 animated">
        Support as<br>
        a Service
    </h1>
    <p class="type-xxl oblique-sub zoomIn animlength2 animdelay2 animated">
        your offshore<br>
        crackerjack team
    </p>
</div>
{% endblock %}







{% block content %}


{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'dixens',
    'quoteClasses'   : 'hero-quote pull-up'
}%}



<div class="post m-top-xl">
    <p class="type-l">
        <b>fortrabbit hosting is different</b>. So is our support. Instead of hiding costs for support in the general fees, we separate them. Your options are:
    </p>

    <div class="row gutter-xl collapse">
        <div class="half">
            <h3>
                <span class="type-thin">1.</span> Help yourself
            </h3>
            <p>
                Most clients use fortrabbit as a self-service. The Dashboard is guided and pretty self-explaining. There is an <a href="{{ help_url }}">extensive documentation</a> and as well as a growing user-to-user <a href="http://stackoverflow.com/questions/tagged/fortrabbit">community on Stack Overflow</a>.
            </p>
        </div>
        <div class="half">
            <h3>
                <span class="type-thin">2.</span> Get support
            </h3>
            <p>
                One-on-one dev-to-dev eye-level support directly from the engineering team. We assist you with anything from general coding problems, to deployment work-flows, to performance tuning, to life-cycle planing, to database support{#, to security audits, to customized alerting#}.
            </p>
        </div>
    </div>
</div>

    <h2 class="m-bottom-l m-top-xl" id="support-pricing">
        Support choices
    </h2>
    <div class="row gutter-no collapse wrap m-top-xs">

    {% include supportPricingTable %}

    </div>

<h2 class="m-top-xl m-bottom-m">
    FAQ on support
</h2>
<div class="row gutter-l collapse tablet wrap m-top-l">
    <div class="quarter half-t">
        <h4>
            Who has access?
        </h4>
        <p>
            <strong>All team members have access to support</strong>. The Pro Support are aligned with the <a href="{{ help_url }}/collaboration">collaboration features</a>. In other words: All members of your Company have access to the Professional Support.
        </p>
    </div>
    <div class="quarter half-t">
        <h4>
            Can I cancel at any time?
        </h4>
        <p>
            <strong>Yes.</strong> The minimum booking period is only one month and you don't have to contact support to cancel the Professional Support.
        </p>
    </div>
    <div class="quarter half-t">
        <h4>
            Can I test it for free?
        </h4>
        <p>
            <strong>Yes.</strong> The first steps are always the hardest. And we like to help. So you get a 14 days free trial of technical support just by signing up.
        </p>
    </div>
    <div class="quarter half-t">
        <h4>
            Is there more?
        </h4>
        <p>
            <strong>Yes.</strong> For enterprise clients we offer even higher levels of managed service with hands-on and pro-active support. Please <a href="mailto:sales@fortrabbit.com?subject={{ "I am interested in Pro Support"|url_encode }}&body={{ "Hey rabbits,"|url_encode }}">contact us</a>.
        </p>
    </div>
</div>


<h2 class="m-top-xl m-bottom-m">
    PHPeople about our support
    {#What our clients are saying#}
</h2>
<div class="row gutter-m wrap collapse m-top-l">
    <div class="quarter half-t">
        {% include 'snippets/quotes.twig' with {
        'quoteText'      : 'support2',
        'quoteClasses'   : 'hero-quote',
        'quoteTextClass' : 'type-m p-m',
        'quoteCreditClass': 'type-s'
        }%}
    </div>
    <div class="quarter half-t">
        {% include 'snippets/quotes.twig' with {
            'quoteText'       : 'support1',
            'quoteClasses'    : 'hero-quote',
            'quoteTextClass'  : 'type-m p-m',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
    <div class="quarter half-t">
        {% include 'snippets/quotes.twig' with {
            'quoteText'      : 'kalle',
            'quoteClasses'   : 'hero-quote',
            'quoteTextClass' : 'type-m p-m',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
    <div class="quarter half-t">
        {% include 'snippets/quotes.twig' with {
            'quoteText'      : 'support3',
            'quoteClasses'   : 'hero-quote',
            'quoteTextClass' : 'type-m p-m',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
</div>




{% endblock %}
