{% extends "layout.twig" %}
{% set title = "Symfony hosting in the cloud" %}
{% set activeClass = 'nav_symfony' %}
{% set bodyClass = 'marketing contrast' %}
{% set cta = {
    'campaign'        : 'symfony',
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see Symfony hosting in action'
    }
%}





{% block precontent %}
<div class="hero symfony image oblique-end">
    <h1 style="font-size:9vw">
        High performance
    </h1>
    <p class="type-xxl type-serif type-italic m-top-s">
        for a high performance framework
    </p>
    {% include 'snippets/quick-signup-stacked-hero.twig' with {
        'headline': 'Try a better Symfony hosting',
        'campaign': 'symfony'
    }%}
</div>
{% endblock %}


{% block content %}

{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'fabpot',
    'quoteClasses'   : 'hero-quote pull-up'
}%}


<h2 class="m-top-xxl type-xl">
    Why to host Symfony on fortrabbit
</h2>
<div class="row gutter-l wrap m-top-l">
    <div class="third half-t">
        <h3>Easy Symfony set up</h3>
        <p>
            <a href="{{ help_url }}/install-symfony">Installing Symfony</a> on fortrabbit is straight forward. You <code>git push</code> and let Composer do the rest for you. Our dynamic help provides live code examples for your App.
        </p>
    </div>
    <div class="third half-t">
        {% include '/snippets/batteries-included.twig'  %}
    </div>
    <div class="third half-t">{% include "snippets/why-not-navigation.twig" %}</div>
</div>




<h2 class="m-top-xxl type-xl">Symfony hosting professional presets</h2>
{% include '/snippets/simple-presets.twig' with { campaign: 'symfony' }  %}


<article class="m-top-xxl">
    <h2 class="type-xl">
        Hosting Symfony on fortrabbit
    </h2>
    <p class="type-l m-top-m">
        <b>Symfony</b> is not only a set of PHP components. It's a web application framework, a philosophy and a community — all working together in harmony. The predictable release cycle and the LTS are unique in our fast moving industry. The fortrabbit hosting environment works smoothly with the Symfony framework and with many Symfony based projects. That's why developers and business owners love Symfony. And we ❤ Symfony too.
    </p>
    <p class="type-s">Symfony is a trademark of Fabien Potencier.</p>
</article>


{% endblock %}
