{% extends "layout.twig" %}
{% set title = "Symfony hosting in the cloud" %}
{% set activeClass = 'nav_symfony' %}
{% set bodyClass = 'marketing contrast' %}
{% set cta = {
    'campaign'        : 'symfony',
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see Symfony hosting in action'
    }
%}





{% block precontent %}
<div class="hero symfony image oblique-end">
    <h1 class="oblique-claim zoomIn animlength1 animdelay1 animated">
        High performance
    </h1>
    <p class="type-xxl oblique-sub zoomIn animlength2 animdelay2 animated">
        for a high performance framework
    </p>
</div>
{% endblock %}



{% block content %}

{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'fabpot',
    'quoteClasses'   : 'hero-quote pull-up'
}%}



<article class="post m-top-xxl">
    <p class="type-l">
        <b>Symfony</b> is not only a set of PHP components. It's a web application framework, a philosophy and a community — all working together in harmony.
    </p>
    <p>
        The predictable release cycle and the LTS are unique in our fast moving industry. That's why developers and business owners love Symfony. And we ❤ Symfony too.
    </p>
    <p>
        The fortrabbit hosting environment works smoothly with the Symfony framework and with many Symfony based projects.
    </p>
</article>

<p class="type-xs">Symfony is a trademark of Fabien Potencier.</p>

<h2 class="m-top-xxl">Symfony hosting presets</h2>
{% include '/snippets/simple-presets.twig' with { campaign: 'symfony' }  %}


<div class="row gutter-xl wrap m-top-xl">
    <div class="third half-t">
        {% include '/snippets/batteries-included.twig'  %}
    </div>
    <div class="third half-t">
        <h3>Easy Symfony set up</h3>
        <p>
            <a href="{{ help_url }}/install-symfony">Installing Symfony</a> on fortrabbit is straight forward. You <code>git push</code> and let Composer do the rest for you.
        </p>
    </div>
    <div class="third half-t">{% include "snippets/why-not-navigation.twig" %}</div>
</div>




{% endblock %}