{% extends "layout.twig" %}
{% set title = "fortrabbit VS GoDaddy, HostGator, Namecheap" %}
{% set bodyClass = 'marketing' %}


{% block precontent %}
<div class="hero image oblique-end" style="background-color: #925503">
    <h1 style="font-size:3.8vw">
        Why fortrabbit instead of shared hosting?
    </h1>
    <p class="claim">
        Because you are a developer!
    </p>
</div>
{% endblock %}




{% block content %}

<article class="post read-xl pull-up edged">
    <p class="type-xl">
        Shared Hosting providers like GoDaddy, HostGator, Bluehost, Namecheap, OVH mostly provide good service. We think that we can make you a much better offer exclusivly made for you — a PHP web designer.
    </p>
    <p class="type-l">
        With shared hosting you'll get long running contracts that lock you in, outdated software versions (some still have PHP 4) that will never be updated and bloated control panels. fortrabbit is a different kind of hosting!
    </p>
</article>
<div class="row m-top-xl gutter-m">
    <div class="third half-t">
        {% include 'snippets/hosting-a-new-mindset.twig' %}
    </div>
    <div class="third half-t">
        {% include "snippets/batteries-included.twig" %}
    </div>
    <div class="third half-t">
        {% include "snippets/why-not-navigation.twig" %}
    </div>
</div>
{% include "snippets/hosting-comparsion.twig" %}






{% endblock %}
