{% extends "layout.twig" %}
{% set title = "fortrabbit VS Pagodabox" %}
{% set inverted = 1 %}
{% block content %}

<div class="hero image m-top-xs" style="background-color: #47AACD">
    <p class="type-xl">
        Why fortrabbit instead of Pagoda Box?<br>
        <b>Because fortrabbit is a bit different ;)</b>
    </p>
    {#
    {% include "snippets/hero-button.twig" with {
        'campaign':'why-not-pagodabox',
        'button_wording_1':'Try it yourself',
        'button_wording_2':'— don’t trust marketing'
    }%}
    #}
</div>
{% include 'snippets/quotes/silentworks-cloud.twig' %}
<article class="wrapper post">
    <p class="type-l">
        Pagoda Box was the first true PHP PaaS — and we love it! fortrabbit and Pagoda Box are on the same mission: <b>developers delight</b>. Apart from that, mostly everything else is different.
    </p>
    <p>
        Pagoda Box runs on SoftLayer, fortrabbit on AWS. Pagoda Box utilizes SmartOS, fortrabbit Linux. Pagoda Box is based in the US, fortrabbit in the EU. … Not sure which one to use? Both are good. Try them out if you have the time, otherwise have a look what your peers are saying.
    </p>
</article>
{#
{% include 'snippets/why-not-disclaimer.twig' with { 'provider' : 'Pagoda Box' }%}
#}


{% endblock %}
