{% extends "layout.twig" %}
{% set title = "fortrabbit VS DigitalOcean" %}
{% set inverted = 1 %}
{% block content %}


<div class="hero image m-top-xs" style="background-color: #3C7BB0">
	<p class="type-xl">
		Why fortrabbit instead of DigitalOcean?<br>
		<b>Because fortrabbit is managed!</b>
	</p>
	{#
	{% include "snippets/hero-button.twig" with {
		'campaign':'why-not-digitalocean',
		'button_wording_1':'See the difference',
		'button_wording_2':'— Apps instead of servers'
	}%}
	#}
</div>
{% include 'snippets/quotes/shealan-linux.twig' %}
<article class="wrapper post">
	<p class="type-l">
		DigitalOcean is great VPS hosting. But we think that we can provide a better service for you with our <b>managed PHP hosting</b>.
	</p>
	<p>
		Yep, with DigitalOcean you get total control and freedom of choice as the root user. With flexibility comes responsibility for maintaining and securing your server. Installing Linux with a few clicks is easy, but are you SysOp enough to keep your hosting environment up-to-date on production-grade? How do you manage to scale horizontally on VPS hosting?
	</p>

	<p>
		Do the math: DigitalOcean is only cheaper when you calculate your own time with 0 € / hour.
	</p>
</article>

{#{% include 'snippets/why-not-disclaimer.twig' with { 'provider' : 'DigitalOcean' }%}#}
{#{% include "snippets/last-call-button.twig" with { 'campain': 'why-not-digitalocean' }%}#}


{% endblock %}
