{% extends "layout.twig" %}
{% set title = "fortrabbit VS AWS" %}
{% set bodyClass = "marketing" %}





{% block precontent %}
<div class="hero image oblique-end" style="background-color: #999">
    {#<div class="cube"></div>#}
    <p style="color: #000" class="type-xl">
        Why fortrabbit instead of AWS?<br>
        <b>Because fortrabbit is for developers, not for admins!</b>
    </p>

    {#
    <style>
        .cube,
        .cube:after,
        .cube:before {
            content: '';
            height: 2rem;
            width:  2rem;
            position: absolute;
            background-color: #e47911;
        }
        .cube {
            transform:
                translateY(0%)
                translateX(-50%)
                skewY(30deg)
                scaleY(1.1);
            position: fixed;
            left: 50%;
            top: 35%;
            z-index: 1;
        }
        .cube::before {
            transform:
                skewY(-50deg)
                translateX(103%)
                translateY(61%);
        }
        .cube::after {
            position: absolute;
            transform:
                translateY(-114%)
                translateX(52%)
                skewX(-40deg)
                scaleY(1.19);
        }
    </style>
    #}
</div>
{% endblock %}




{% block content %}


<article class="pull-up post">
    <p class="type-l">
        Amazon Web Services is a great cloud hosting infrastructure. We use it ourselves — the fortrabbit hosting platform runs on top of AWS. But do you really have the manpower to study for your AWS degree right now?{# But do you really need all this enterprise-level stuff now?#}
    </p>


    <p>
        The AWS product structure is very complicated. You have to invest time to understand it. Then you'll need a spreadsheet to calculate your costs. On top of that you have to setup and maintain everything yourself.
    </p>
    <p>
        fortrabbit is a simple to use and fully managed hosting platform. It's made for you — the smart developer: <a href="freelancer-hosting">freelancer</a>, <a href="startup-hosting">startup</a> or <a href="agency-hosting">digital agency</a>. We encourage you to use best development- and deployment-practices. Build your online business in PHP and host it here. Start small and scale on demand. Outgrow to AWS later on.
    </p>

    <h2 id="fortrabbit-aws-usage" class="m-top-xl">
        How we use AWS
    </h2>
    <p class="type-l">
        fortrabbit is not just reselling EC2 servers. The fortrabbit infrastructure is an advanced orchestration making use of multiple AWS services.
    </p>
    <h3>Topology of a typical App on fortrabbit</h3>
<pre><code>
                                            ┌─────────────┐
                                            │ ┌─────────┐ │
                                            │ │   Web   │ │
                                            │ │frontend │ │    ┌─────────┐
              ┌─────────────────────────┐   │ │   EC2   │ │    │  MySQL  ├┐      ┌──────────┐
              │             ┌─────────┐ │   │ └─────────┘ ├────▶   RDS   │◀──────┤  Tunnel  │
              │           ┌─▶ Routing │ │   │ ┌─────────┐ │    └┬────────┘│      │   EC2    │
 ┌──────────┐ │ ┌───────┐ │ │   EC2   │ │   │ │   Web   │ │     └─────────┘      └─────▲────┘
 │ Internet ├─┼─┼▶ ELB  ├─┤ └─────────┘ ├───┼▶│frontend │ │                            │
 └──────────┘ │ └───────┘ │ ┌─────────┐ │   │ │   EC2   │ │    ┌─────────┐       ┌─────┴────┐
              │           │ │ Routing │ │   │ └─────────┘ │    │  Cache  ├┐      │  Remote  │
              │           └─▶   EC2   │ │   │ ┌─────────┐ ├────▶   EC2   ││      │  MySQL   │
              │             └─────────┘ │   │ │   Web   │ │    └┬────────┘│      └──────────┘
              └────────────┬────────────┘   │ │frontend │ │     └─────────┘
                           │         ┌──────│ │   EC2   │ │
                           │         │      │ └─────────┘ │
                      ┌────▼────┐    │      └──────▲──────┘
                      │   Log   │    │             │
                      │ parsing ◀────┘             │
                      │   EC2   │                  │
                      └────┬────┘                  │
                           │                 ┌─────┴─────┐
                           │                 │Deployment │
                      ┌────▼────┐            │    EC2    │
                      │ Logging │            └─────▲─────┘
                      │   EC2   │                  │
                      └────▲────┘             ┌────┴────┐
                           │                  │   Git   │
                      ┌────┴────┐             └─────────┘
                      │   SSH   │
                      └─────────┘
</code></pre>

    <p>
        <strong>Routing</strong>: Multiple clusters consisting of Amazon's ELB before two EC2 routing instances. Failure of a single routing instances does not affect the availability of any App.
    </p>
    <p>
        <strong>Web frontend</strong>: EC2 instance running a shared, containerized Apache web server and per-App containerized PHP/FPM runtimes. Apps run in multiple containers on different EC2 instances at the same time, so that the failure of one EC2 instance does not affect the App's health. Scalability is achieved by scaling out to more PHP/FPM containers on additional EC2 instances.
    </p>
    <p>
        <strong>MySQL database</strong>: Redundant RDS instances for shared or dedicated usage. Failure of the master triggers near-instant, automatic takeover of the slave. Slave failure just starts a new slave.
    </p>
    <p>
        <strong>Caching</strong>: Multiple EC2 instances, each providing memcached servers. Plans run on two EC2 instances in parallel. If used in a redundant configuration (recommended) then failure of a single EC2 instances does not affect App health.
    </p>
    <p>
        <strong>Convenient deployment</strong>: Code is deployed using a simple `git push` to an EC2 deployment instance. The following build process runs Composer and optional custom scripts. The resulting build package is deployed to all web frontends <!-- and workers --> within milliseconds.
    </p>
    <p>
        <strong>Centralized logging</strong>: Very easy to use SSH based live log output with multiple log sources, including Apache access logs and custom application logs. Internally this takes multiple EC2 instances parsing, storing and delegating the logs.
    </p>


    {# TODO: say something about VPC ? #}


    <h2>
        How to compare pricing
    </h2>
    <p>
        Purchasing AWS resources directly is cheaper than using fortrabbit. Or is it? We free lots of your time so you can concentrate on development. We preemptive cure the headaches you would have setting up and maintaining a sophisticated hosting setup. See our <a href="/specs">Component specs page</a> for a fully transparent overview and to compare the raw AWS costs with ours.
    </p>
</article>

{% include "snippets/hosting-comparsion.twig" %}



{% endblock %}
