{% extends "layout.twig" %}
{% set title = "fortrabbit VS AWS" %}
{% block content %}


<div class="hero image m-top-xs" style="background-color: #fff">
	<p style="color: #000" class="type-xxl">
		Why fortrabbit instead of AWS?<br>
		<b>Because fortrabbit is smooth!</b>
	</p>
	{#
	{% include "snippets/hero-button.twig" with {
		'campaign':'why-not-forge',
		'button_wording_1':'See the difference',
		'button_wording_2':'— no degree in rocket science required'
	}%}
	#}
</div>
{% include 'snippets/quotes/silentworks-cloud.twig' %}
<article class="wrapper post">
	<p class="type-l">
		Amazon Web Services is a great cloud hosting infrastructure. We use it ourselves — the fortrabbit hosting platform runs on top of AWS. But do you really need all this enterprise-level stuff now?
	</p>

	<p>
		The AWS product structure is very complicated. You have to invest time to understand it. Then you'll need a spreadsheet to calculate your costs. On top of that you have to setup and maintain everything yourself.
	</p>
	<p>
		fortrabbit is a simple to use and fully managed hosting platform. It's not for idiots. It's made for you — the smart developer: <a href="freelancer-hosting">freelancer</a>, <a href="startup-hosting">startup</a> or <a href="agency-hosting">digital agency</a>.{#With Git-push-to-deploy, native Composer integration, horizontal scaling and great support.#}
	</p>
	<p>
		We encourage you to use best development- and deployment-practices. Build your online business in PHP and host it here. Start small and scale on demand. Outgrow to AWS later on.
	</p>
</article>

{#{% include 'snippets/why-not-disclaimer.twig' with { 'provider' : 'AWS' }%}#}



{% endblock %}
