{# 404 page content for: www, blog, help, (dashboard?) #}

<p class="m-top-xl type-xl type-thin">Sorry, 404 error</p>
<h1 class="type-xxxl">
    File not found
</h1>
<p class="type-serif type-italic type-xl">
    {{ random([
        'Blame Canada',
        'Somebody screwed up — not me',
        'Please move along, there is nothing to see here',
        'Yer off the edge of the map — Here be dragons'
    ]) }}
</p>

<div class="support-info">
    <p>
        Let's fix that broken link together! Where did you came from and what you were looking after?
    </p>
</div>