{#

TODO:

* review one more time in context!
* compare against app aspects uni, imagine you are the user trying to make sense out of this by comparing these pages.
* check local links!
* shorten texts when possible
*

#}

<h2 class="m-top-xxl type-xxl" id="app-aspects">
    Professional Stack features
</h2>

<div class="row collapse gutter-l wrap m-top-xl">

    <div class="third half-t">
        <h4>
            More professional
        </h4>
        <p>
            An Professional App is a container for your website or application following the 12-factor paradigm. Each App consists of multiple Components which we offer on Development and Production level.
        </p>
        <p>
            <a href="{{ help_url }}/app-pro">Learn about the Professional Stack</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Components
        </h4>
        <p>
            A Component is a modular service (PHP, MySQL, Memcache …). Components can be scaled independtly a to match the individual requirements of each App best. Presets are common combinations of Components.
        </p>
    </div>
    <div class="third half-t">
        <h4 id="scaling">
            Horizontal &amp; vertical scaling
        </h4>
        <p>
            Scaling depends on the type of your application (vertical scaling) and the traffic it serves (horizontal scaling). Start with a small preset and grow from there. See our <a href="{{ help_url }}/scaling-pro">scaling tips</a> and please don't hesitate to <a href="mailto:sales@fortrabbit.com">contact sales</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Nodes
        </h4>
        <p>
            A Node is a virtual machine that is optimized for a certain Component (PHP, MySQL …). Apps are running distributed across multiple Nodes. Node resources are shared: the higher the Components scaling plan, the less Apps are hosted on a single Node.
        </p>
    </div>
    <div class="third half-t">
        <h4 id="development-level">
            Development level
        </h4>
        <p>
            Use for tinkering, testing, playing, experiments, staging, feature branches, hot fixes, pet projects, weekend hacks, student work, personal blogs, low traffic websites … <a href="{{ www_url }}/sla" title="See our Service Level Agreement">99% Uptime guarantee</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4 id="production-level">
            Production level
        </h4>
        <p>
            Use for professional work, commercial projects, mission critical Apps, live sites, high traffic campaigns … <a href="{{ www_url }}/sla" title="See our Service Level Agreement">99.9% Uptime guarantee</a>.
        </p>
    </div>
</div>
