RewriteEngine ON





# RewriteCond %{HTTP_HOST} !^www\.fortrabbit\.(dev|com)$
# RewriteRule (.*) http://www.fortrabbit.com/$1 [R=301,L]

# redirect all requests to https (TLS)
RewriteCond %{HTTP:X-Forwarded-Port} =80
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]



#redirect certain pages
RewriteRule ^solutions/support                      /support              [R=301,L]

RewriteRule ^solutions/hosting-for-startups         /startup-hosting      [R=301,L]
RewriteRule ^solutions/hosting-for-web-agencies     /agency-hosting       [R=301,L]
RewriteRule ^solutions/hosting-for-freelancers      /web-designer-hosting [R=301,L]
RewriteRule ^freelancer-hosting                     /web-designer-hosting [R=301,L]
RewriteRule ^support                                /company-plans        [R=301,L]
RewriteRule ^why-not-digitalocean                   /why-not-vps          [R=301,L]
RewriteRule ^sla                                    /uptime               [R=301,L]

RewriteRule ^solutions/laravel-hosting    /laravel-hosting    [R=301,L]
RewriteRule ^solutions/symfony2-hosting   /symfony-hosting    [R=301,L]
RewriteRule ^solutions/drupal8-hosting    /drupal-hosting     [R=301,L]
RewriteRule ^solutions/phalcon-hosting    /phalcon-hosting    [R=301,L]

RewriteRule ^how-it-works                           /features       [R=301,L]
RewriteRule ^solutions/high-availability-hosting    /features       [R=301,L]
RewriteRule ^solutions/team$                        /about              [R=301,L]



#RewriteCond %{REQUEST_URI} !^/media/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
