{# Not for Noobs #}
{#Abstract ≠ simplistic#}
{#Abstract, not simple#}

<h2 class="m-top-xl">
    Forget servers
</h2>

<div class="row gutter-l m-top-l wrap collapse">
    <div class="third half-t">
        <h4>
            Think services
        </h4>
        <p>
            Each App on fortrabbit runs on a cluster of different Nodes. Apps are isolated. One App for one website.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Abstract ≠ simplistic
        </h4>
        <p>
            This is not your grandmas web hosting. fortrabbit is made for the sophisticated developer. It's a container-based micro-service oriented architecture. More dev, less ops.
        </p>
    </div>

    {# Better explained in scaling
    <div class="third half-t">
        <h4>Development > production</h4>
        <p>
            The dev features are matching the early life-cycle of your application. Vertical and horizontal scaling allows you to grow to a high volume almost instantly.
        </p>
    </div>
    #}

    <div class="third half-t">
        <h4>The human touch</h4>
        <p>
            We employ real human intelligence. We have an ear for your needs, we know PHP and we know what you need.
        </p>
    </div>
    <div class="third half-t">
        {% include "snippets/batteries-included.twig" %}
    </div>
    <div class="third half-t">
        <h4>No lock-in</h4>
        <p>
            fortrabbit is mostly based on open-source technologies. All workflows are designed to be as universal as possible.
        </p>
    </div>
    <div class="third half-t">
        <h4>PHPower to the PHPeople</h4>
        <p>
            We believe in a modern PHP. Our aim is to built the best hosting platform for this, nothing else.
        </p>
    </div>
    {#
    <div class="third half-t">
        {% include "snippets/why-not-navigation.twig" %}
    </div>
    #}
</div>
