<h2 class="type-xxl m-top-xxl">
    Forget servers
</h2>

<p class="type-xl type-serif type-italic">
    focus on PHP, not on <a href="/php-hosting" class="shadylink">PHP hosting</a>
</p>

<div class="row gutter-l m-top-xl wrap collapse">
    <div class="third half-t">
        <h3>
            PHP as a Service
        </h3>
        <p>
            This is not your grandma's hosting. fortrabbit is affordable as shared hosting, powerful as VPS hosting and carefree as managed hosting.
        </p>
        <p>
            <a href="/why-not-vps">Compare fortrabbit with VPS ›</a>
        </p>
    </div>
    <div class="third half-t">
        {% include "snippets/batteries-included.twig" %}
    </div>

    <div class="third half-t">
        <h3>
            Teamwork
        </h3>
        <p>
            Never send passwords by mail again. Collaborate on code development. Securly manage Companies and Apps from the Dashboard. All with one login.
        </p>
        <p>
            <a href="{{ help_url }}/collaboration">See how collaboration works ›</a>
        </p>
    </div>

    <div class="third half-t">

        <h3>
            Powered by AWS
        </h3>
        <p>
            Standing on the shoulder of giants: Your Apps are running on enterprise-grade infrastructure provided by Amazon Web Services.
        </p>
        <p>
            <a href="/why-not-aws#fortrabbit-aws-usage">Read how we use AWS ›</a>
        </p>
    </div>

    

    <div class="third half-t">
        <h3>
            Two stacks
        </h3>
        <p>
            Choose with each App: The Universal Stack for websites and small web apps; The Professional Stack for modern web applications.
        </p>
        <p>
            <a href="{{ help_url }}/stacks">Explore the stacks ›</a>
        </p>
    </div>


    <div class="third half-t">
        <h3>
            Fair deal
        </h3>
        <p>
            Pay only what you use with precise daily settlement. Monitor costs live and scale up and down in the Dashboard. Cancel at any time.
        </p>
        <p>
            <a href="{{ help_url }}/billing">Learn how we bill ›</a>
        </p>
    </div>
</div>
<p class="m-top-l m-bottom-m type-l">
    <a href="/features">Check out more features ›</a>
</p>
