<h3>Batteries included</h3>
<ul class="rowboxList m-top-s columns">
    <li>
        Managed OS level
    </li>
    <li>
        Git &amp; Composer
    </li>
    <li>
        SSH &amp; SFTP
    </li>
    <li>
        SSD web storage
    </li>
    <li>
        On demand scaling
    </li>

    <li>
        Automatic HTTPS
    </li>
    <li>
        Nightly backups
    </li>
    <li>
        PHP 7
    </li>
    {#
    <li>
        Blackfire &amp; NewRelic
    </li>
    #}
</ul>
