<h4>Batteries included</h4>
<div class="gutter-no m-top-s">
    <div class="rowbox row p-xs type-s">
        <div>PHP 7.0 &amp; 5.6</div>
        <div class="auto">yes</div>
    </div>
    <div class="rowbox row p-xs type-s">
        <div>Git push to deploy</div>
        <div class="auto">yes</div>
    </div>
    <div class="rowbox row p-xs type-s">
        <div>Composer on the server-side</div>
        <div class="auto">yes</div>
    </div>
    {#
    <div class="rowbox row p-xs type-s">
        <div>Microservice infrastructure</div>
        <div class="auto">yes</div>
    </div>
    #}
    <div class="rowbox row p-xs type-s">
        <div>Managed OS level</div>
        <div class="auto">yes</div>
    </div>
    <div class="rowbox row p-xs type-s">
        <div>On demand scaling</div>
        <div class="auto">yes</div>
    </div>
    <div class="rowbox row p-xs type-s">
        <div>Blackfire</div>
        <div class="auto">yes</div>
    </div>
    <div class="rowbox row p-xs type-s">
        <div>NewRelic</div>
        <div class="auto">yes</div>
    </div>
</div>
