<h3>Batteries included</h3>
<ul class="rowboxList m-top-s columns">
    <li>
        Managed OS
    </li>
    <li>
        Git &amp; Composer
    </li>
    <li>
        SSH &amp; SFTP
    </li>
    <li>
        SSD storage
    </li>
    <li>
        Scaling
    </li>

    <li>
        HTTPS
    </li>
    <li>
        Backups
    </li>
    <li>
        PHP 7
    </li>
</ul>
