<h2 class="type-xxl m-top-xxl">
    Your benefits
</h2>

<ol class="type-l m-top-m">
    <li class="p-s">
        <b>Focus</b>
        — Craft Apps, instead of manage hosting.
    </li>
    <li class="p-s">
        <b>Iterate</b>
        — Deploy fast, get feedback fast then repeat.
    </li>
    <li class="p-s">
        <b>Collaborate</b>
        — Manage code and teams with ease.
    </li>
    <li class="p-s">
        <b>Experiment</b>
        — Test without hassle with disposable Apps.
    </li>
    <li class="p-s">
        <b>Grow</b>
        — Don't employ admins, scale with a click.
    </li>
    <li class="p-s">
        <b>Sleep well</b>
        — We take care of the platform.
    </li>
</ol>
