<div class="browserchrome hidephone ultrashot" {#href="{{ help_url }}/dashboard"#}>
	<div class="addressbar clip"><span>https://</span>dashboard.fortrabbit.com/apps/www-fortrabbit-com</div>
	<div class="screenshot">
		<div class="main" id="screenshotmain"></div>
		<div class="aside"></div>
	</div>
</div>


<script type="text/javascript">


// underscore init


	$(function(){

		//http://blog.bassta.bg/2013/05/get-page-scrolling-percentage/
		
		var $window        = $(window);
		var documentHeight = $(document).height();
		var windowHeight   = $window.height();
		var scrollTop      = $window.scrollTop();
		
		$window.on("resize", function(){
			windowHeight = $window.height();
		}).resize();
		

		$window.on("scroll", function() {
			
			//gives us the scroll percent range from 0 to 1
			scrollTop = $(window).scrollTop();
			var scrollPercent = (scrollTop) / (documentHeight - windowHeight);

			//gives us the scroll percent range from 0 to 100
			//var scrollPercentTranslated = ( Math.round(scrollPercent*100); 
			
			//console.log('ScrollTop:', scrollTop);
			//console.log('windowHeight:', windowHeight);

			// set the background position of the element
			//$('.main').css('transform', (scrollPercent*-900));
			$('#screenshotmain').css('transform', 'translateY(-' + (scrollPercent*3000) + 'px)');
			$('.screenshot:after').css('transform', 'translateY(-' + (scrollPercent*2000) + 'px)');

		});
	});
</script>
