{% import 'snippets/component-box.twig' as box %}

<div class="box p-xl comp_detailsgroup">
    <h2>Memcache scaling</h2>
    <div class="row gutter-l">
        <div class="half">
            <h4>Tinkering</h4>
            <div class="gutter-no">
                <a href="" class="box memcache-off-new comp_detail" id="memcache-new">Memcache off</a>
                {{ box.scaling('memcache-xs-new',    'Memcache xs',        '64 MB memory',   '5') }}
            </div>
        </div>
        <div class="half">
            <h4>Production</h4>
            <div class="gutter-no">
                {{ box.scaling('memcache-s-new',   'Memcache s',       '2 x 128 MB memory',     '15') }}
                {{ box.scaling('memcache-m-new',   'Memcache m',       '2 x 512 MB memory',     '60') }}
            </div>
        </div>
    </div>
    <div class="row gutter-m m-top-l">
        <div class="third">
            <h5>It's for production!</h5>
            <p>
                PHP production scalings are running on multiple Nodes — distributing requests equally. Memcache stores object data (cache, session, database results) safety on efficiently across multiple Nodes.
            </p>
        </div>
        {# TODO: zweiter motivierender text zu Memcache #}
    </div>
</div>