<div class="salesButton animated">
    <a href="mailto:sales@fortrabbit.com?subject={{ "I have a question"|url_encode }}&body={{ "Hey rabbits,"|url_encode }}" class="action type-s p-s fwdcta" id="{{ identifier|default('sales_button') }}">
        {{ sales_button_wording|default('Contact sales') }}
    </a>
</div>