<h2 class="type-xxl m-top-xxl">
    {#Feature galore#}
    How we are different
</h2>

<div class="row gutter-l wrap m-top-l">
    <div class="third half-t">
        <h3>
            Universal Stack
        </h3>
        <p>
            The Universal Stack is for everyone to build websites and web applications, combining legacy workflows with modern design paradigms.
        </p>
        <p>
            <a href="{{ help_url }}/app-uni">Meet the Universal Stack ›</a>
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Professional Stack
        </h3>
        <p>
            The Professional Stack is for spohisticated developers to build modern high-performance PHP web applications.
        </p>
        <p>
            <a href="{{ help_url }}/app-pro">Meet the Professional Stack ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3>
            90% automated
        </h3>
        <p>
            The fortrabbit platform is highly abstracted. It features built-in fault tolerance, health checks, auto recovery and data replication.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            10% human touch
        </h3>
        <p>
            The service is constantly and professionally managed by <a href="/about">real humans</a>. We keep Operarting System and hosting stack up-to-date and secure.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Dedicated to PHP
        </h3>
        <p>
            We love PHP. We love to develop in PHP. We love to help PHP developers by providing the best hosting platform for modern PHP — nothing else.
        </p>
    </div>
    <div class="third half-t">
        <h3>Development > production</h3>
        <p>
            The dev features are matching the early life-cycle of your application. Vertical and horizontal scaling allows you to grow to a high volume almost instantly.
        </p>
    </div>
</div>


<p class="m-top-l m-bottom-m type-l">
    <a href="/specs">Explore the specs ›</a>
</p>
