{# 
Obsolete?
other texts: 
how-it-works / Start small, scale later



#}

<h2 class="m-bottom-s">
    Teamwork
</h2>
<pre><code>││││││││││                      ┌─────────┐
│        │                      │         │
│  •  •  │ ───────────────────▶ │   App   │
│  ────  │ ────────┐ ┌────────▶ │         │
└────────┘         │ │          └─────────┘
\\\\///\\/         │ │          ┌─────────┐
│        │        ┌┼─┼────────▶ │         │
│  •  •  │ ───────┼┼─┼────────▶ │   App   │
│  ────  │ ───────┼┼─┘          │         │
└────────┘        ││            └─────────┘
~~~~~~~~~~        ││            ┌─────────┐
│        │        │└──────────▶ │         │
│  •  •  │ ───────┼───────────▶ │   App   │
│  ────  │ ───────┘             │         │
└────────┘                      └─────────┘</code></pre>
<p>
    Access management is easy to use and build to match real world scenarios for <a href="/agency-hosting">agencies</a>, <a href="/startup-hosting">startups</a> and <a href="/freelancer-hosting">freelancers</a>.
</p>
<ul>
    <li>
        <a href="{{ help_url }}/teamwork-video">See the teamwork video</a>
    </li>
    {#
    <li>
        <a href="/agency-hosting">Agency solutions</a>
    </li>
    <li>
        <a href="/startup-hosting">Startup solutions</a>
    </li>
    <li>
        <a href="/freelancer-hosting">Freelancer solutions</a>
    </li>
    #}
</ul>
