<div class="row wrap gutter-l collapse m-top-xl">
    <div class="half">
<pre><code>
┌────┐   ┌──────────────┐   ┌─────────┐
│    │   │              │   │         │
│Inet├───▶ Apache / PHP ├───▶  MySQL  │
│    │   │              │   │         │
└────┘   └──────────────┘   └─────────┘
</code></pre>
    </div>
    <div class="half">
        <p class="type-l">
            <strong>Start small …</strong><br>
            … all good things do! Low price. Already good performance. Available in seconds.
        </p>
    </div>
    <div class="half">
        <p class="type-l">
            <strong>Grow up …</strong><br>
            .. and go production, with a single click. Not only will you get a huge performance bump, but also a highly redundant setup, which has no single point of failure. It doesn't stop there: you can grow even further with our dedicated plans which scale to virtually any size.
        </p>
    </div>
    <div class="half">
<pre><code>
        ┌──────────┐  ┌──────────────┐  ┌──────────────────┐
        │          ├──▶ Apache / PHP ├──▶  MySQL Cluster   │
        │          │  └──────────────┘  └──────────────────┘
┌────┐  │   Load   │          │                  ▲
│Inet├──▶ Balancer │          ├──────────────────┤
└────┘  │ Cluster  │          │                  ▼
        │          │  ┌──────────────┐  ┌──────────────────┐
        │          ├──▶ Apache / PHP ├──▶ Memcache Cluster │
        └──────────┘  └──────────────┘  └──────────────────┘
</code></pre>
    </div>
</div>