<div class="row wrap gutter-l collapse m-top-xxl">
    <div class="half">
        <p class="type-l">
            <strong>Performance matters!</strong> <br>
            Apps on fortrabbit use the only the best: SSD, latest CPU gen, PHP 7. 
        </p>
    </div>
    <div class="half">
        <div class="gutter-no">
            <div class="box clip graph-single">
                <div class="title row">
                    <div class="type-bold">your old hosting provider</div>
                    <div class="auto">&gt;1s</div>
                </div>
                <div class="bar">
                    <div class="value" style="width: 99%;"></div>
                </div>
            </div>
            <div class="box clip graph-single">
                <div class="title row">
                    <div class="type-bold">SSD (low i/o)</div>
                    <div class="auto">&gt;300ms</div>
                </div>
                <div class="bar">
                    <div class="value" style="width: 30%;"></div>
                </div>
            </div>
            <div class="box clip graph-single alert">
                <div class="title row">
                    <div class="type-bold">fortrabbit</div>
                    <div class="auto">&lt;100ms</div>
                </div>
                <div class="bar">
                    <div class="value" style="width: 10%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>