<div class="spacertop box big">
    <h1 class="centered spacertophuge" style="margin-top:2rem">Hack App <sup>BETA</sup></h1>
    <p class="lead centered">
        more advanced, more affordable
    </p>
    <ul class="spacertop prices">
        <li>ephemeral infrastructure: no write access on file system</li>
        <li>Git push to deploy, no SSH/SFTP</li>
        <li>32 MB RAM</li>
        <li>32 MB MySQL storage</li>
        <li>no scaling during BETA</li>
        <li><del>HHVM and Hack</del></li>
        {#<li>Storage ?!!!</li>#}
        {#<li>same price  when BETA ends - approx July 2015</li>#}
        <li>99% uptime guarantee during BETA</li>
        <li class="lead">
            <span class="thinfont">Monthly</span>
            <span class="boldfont" style="float:right">4 €</span>
        </li>
    </ul>
</div>
<a href="{{ help_url }}/hackapp" class="box small centered spacertop">
    Learn more
</a>