<div class="m-top-xs box big">
    <h1 class="centered m-top-xshuge" style="margin-top:2rem">Hack App <sup>BETA</sup></h1>
    <p class="type-xl centered">
        more advanced, more affordable
    </p>
    <ul class="m-top-xs prices">
        <li>ephemeral infrastructure: no write access on file system</li>
        <li>Git push to deploy, no SSH/SFTP</li>
        <li>32 MB RAM</li>
        <li>32 MB MySQL storage</li>
        <li>no scaling during BETA</li>
        <li><del>HHVM and Hack</del></li>
        {#<li>Storage ?!!!</li>#}
        {#<li>same price  when BETA ends - approx July 2015</li>#}
        <li>99% uptime guarantee during BETA</li>
        <li class="type-xl">
            <span class="type-thin">Monthly</span>
            <span class="type-bold" style="float:right">4 €</span>
        </li>
    </ul>
</div>
<a href="{{ help_url }}/hackapp" class="box small centered m-top-xs">
    Learn more
</a>