<h2 class="m-top-xl">
    Features <span class="amp">&amp;</span> responsibilities
</h2>
<p class="type-m">
    Hosting providers are like apples and oranges. This table might help comparing:
</p>
<table class="m-top-s">
    <thead>
        <tr>
            <th></th>
            <th class="highlight">
                aPaaS
            </th>
            <th>
                Shared hosting
            </th>
            <th>
                VPS
            </th>
            <th>
                Managed hosting
            </th>
            <th>
                IaaS
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sample providers</td>
            <td class="highlight">
                <strong>fortrabbit</strong>, <br>
                <a href="why-not-heroku">Heroku</a>, <br>
                <a href="why-not-pagodabox">Pagoda Box</a>
            </td>
            <td>
                GoDaddy, <br>
                1&amp;1, <br>
                HostGator
            </td>
            <td>
                <a href="why-not-digitalocean">DigitalOcean</a>, <br>
                Linode, <br>
                Server4you
            </td>
            <td>
                SysEleven, <br>
                Peer1, <br>
                Rackspace
            </td>
            <td>
                <a href="why-not-aws">AWS</a>, <br>
                Windows Azure, <br>
                Google Cloud
            </td>
        </tr>
        <tr>
            <td>Price level</td>
            <td class="highlight">low - high</td>{# aPaaS #}
            <td>very low - low</td>{# shared #}
            <td>low</td>{# VPS #}
            <td>high - very high</td>{# managed #}
            <td>medium - very high</td>
        </tr>
        <tr>
            <td>Complexity</td>
            <td class="highlight">medium</td>
            <td>low</td>
            <td>medium</td>
            <td>medium</td>
            <td>very high</td>
        </tr>
        <tr>
            <td>Developer features</td>
            <td class="highlight">available</td>
            <td>n/a</td>
            <td>your responsibility</td>
            <td>on request</td>
            <td>your responsibility</td>
        </tr>
        <tr>
            <td>Scaling</td>
            <td class="highlight">limitless, simple</td>
            <td>downtime, limited</td>
            <td>n/a</td>
            <td>on request</td>
            <td>complex, limitless</td>
        </tr>
        <tr>
            <td>Deployment workflows</td>
            <td class="highlight">included</td>
            <td>n/a</td>
            <td>your responsibility</td>
            <td>your responsibility</td>
            <td>your responsibility</td>
        </tr>
        <tr>
            <td>Operating system</td>
            <td class="highlight">managed</td>
            <td>n/a</td>
            <td>your responsibility</td>
            <td>managed</td>
            <td>your responsibility</td>
        </tr>
        <tr>
            <td>Security</td>
            <td class="highlight"><a href="{{ help_url }}/security">managed</a></td>
            <td>low</td>
            <td>your responsibility</td>
            <td>managed</td>
            <td>your responsibility</td>
        </tr>
    </tbody>
</table>

{#
    TODO : / Ideas to continue here:

    * what is aPaaS, Iaas etc …
    * see/link? cloudscapes article
    * which complexity where? VPS = SysAdmin, IaaS = Orchestration + SysAdmin
#}
