<h2 class="m-top-xxl type-xxl">
    How it works
</h2>
<div class="row collapse gutter-l wrap m-top-l">
    <div class="third half-t">
        <h3>
            Try first
        </h3>
        <p>
           Spin up an App without obligations. Ask us to extend your trial period. Strictly opt-in: You don't need to cancel anything. Upgrade only when you are convinced.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Cancel at any time
        </h3>
        <p>
            You can cancel your Account completely with immediate effect at any time directly from the Dashboard or scale down components or delete Apps.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Code better, pay less
        </h3>
        <p>
            The resources your App will need heavily depend on the code you write. Your skills, best coding practices, a modern framework.
        </p>
    </div>

    {#
    obsolete: fair pricing + pricing FAQ
    <div class="third half-t">
        <h3>
            Use a day, throw away
        </h3>
        <p>
            The billing period is daily. So you'll be charged just for the days you have actually used a certain App or Component.
        </p>
    </div>

    #}
    <div class="third half-t">
        <h3>
            Start small, scale later
        </h3>
        <p>
            Predicting hosting resources is hard — especially when you’re building something new. That's why you can scale instantly. Quickly and easily scale up and down vertically and horizontally.
        </p>
    </div>
    <div class="third half-t" id="fn_production">
        <h3>
            Use in production
        </h3>
        <p>
            99.9% Uptime guarantee. Use for professional work, commercial projects, mission critical Apps, live sites, high traffic campaigns …
        </p>
    </div>
    <div class="third half-t" id="fn_tinkering">
        <h3>
            Use for tinkering &amp; dev
        </h3>
        <p>
           Use disposable Apps for development, testing, playing, experiments, staging, feature branches, hot fixes, pet projects, weekend hacks, student work, personal blogs, low traffic websites …
        </p>
    </div>
</div>
