<h2 class="m-top-xxl type-xxl">
    Our service
</h2>
<div class="row wrap gutter-l collapse m-top-l">
    <div class="third half-t">
        <h4>Maintenance</h4>
        <p >
            The service is constantly and professionally managed. We have a high level of security standards. We are committed to an always safe, secure and up-to-date platform.
        </p>
    </div>
    {#
    <div class="third half-t">
        <h4>Architecture</h4>
        <p >
            We encourage you to design great software that degrades gracefully. We do our part by serving a managed PHP hosting that comes with built-in fault tolerance, health checks, auto recovery and replication.
        </p>
    </div>
    #}
    <div class="third half-t">
        <h4>Failure tolerance</h4>
        <p >
            Leverage managed enterprise level hosting for an affordable price – providing more than the plain numbers in the SLA with three-nine (99.9%) uptime guarantee.
        </p>
    </div>
    <div class="third half-t">
        <h4>Disaster recovery</h4>
        <p >
            Backups of all user data and service configurations are stored periodically in separated locations. Disaster recovery plans for worst case scenarios are in place.
        </p>
    </div>
    <div class="third half-t">
        <h4>Availability zones</h4>
        <p >
            AWS Availability Zones are independent datacenter units with autonomous power supply and network uplinks. Our whole infrastructure is spread across multiple zones and is prepared for a complete black-out of a complete zone.
        </p>
    </div>
    <div class="third half-t">
        <h4>High availability</h4>
        <p>
            All PHP Production plans run on at least two Nodes to avoid downtime when hardware fails. Scale your App horizontally to handle more traffic. The load balancer distributes requests equally.
        </p>
    </div>
    <div class="third half-t">
        <h4>Database replication</h4>
        <p >
            All MySQL Production plans run on Amazon's RDS in a replicated setup in multiple availability zones.
        </p>
    </div>
    {#
    <div class="third half-t">
        <h4>Storage redundancy (Old Apps)</h4>
        <p >
            The distributed file storage is replicated in another availability zone. The fail-over storage is always up to date and will take over automatically in case of outages.
        </p>
    </div>
    #}
    <div class="third half-t">
        <h4>Cache clustering</h4>
        <p >
            Our Memcache Component is your key value store of choice when your App runs on multiple nodes – of course also available in a redundant setup.
        </p>
    </div>
    {#
    <div class="third half-t">
        <h4>
            Core features
        </h4>
        <p>
            Fast Git push to deployment, ComposerPHP integration, SSH, SFTP, PHP 5.4, PHP 5.5, PHP 5.6,, fast support, MySQL, Workers, Memcache, APC …
        </p>
    </div>
    #}
    <div class="third half-t">
        <h4>
            PHP extensions
        </h4>
        <p>
            bcmath, bz2, calendar, ctype, date, dba, dom, ereg, exif, fileinfo, filter, ftp, gettext, hash, iconv, json, libxml, mbstring, mhash, openssl, pcre, phar, posix, reflection, session, shmop, soap, sockets, spl, sysvmsg, tokenizer, wddx, xml, xmlreader, xmlwriter, zip, zlib
        </p>
    </div>

    {#

    TODO:
    Oli: IST MIR ZU SCHROTTIG
    Frank: dann von woanders zu PHP 7 page linken und/oder keywords visuell verstecken, danke.

    <div class="third half-t">
        <h4>
            Technologies
        </h4>
        <p>
            <a href="/php7-hosting">PHP 7</a>, PHP 7.1, PHP 7.0, PHP 5.6, Apache, Composer, Contao Open Source CMS, Doctrine, Drupal, eZ Publish, Laravel, Lithium, Packagist, Phalcon, PrestaShop, PyroCMS, Symfony2, TYPO3 Flow, Wikidata, Yii framework …
        </p>
    </div>


    <div class="third half-t">
        <h4>
            Other keywords
        </h4>
        <p>
            Composer, PHPUnit, Guzzle, traits, namespaces, DevOp, SysOp, PaaS, IaaS, SaaS, Europe, european, data center, server, eCommerce, e-commerce, software architects, project managers, HHVM, HACK
        </p>
    </div>

    #}

    <div class="third half-t">
        {% include "snippets/hosting-a-new-mindset.twig" %}
    </div>
    <div class="third half-t">
        {% include "snippets/why-not-navigation.twig" %}
    </div>
</div>
