<div class="row collapse gutter-l wrap wrapper m-top-l m-bottom-l">
    <div class="quarter half-tablet">
        <h5>Serverless hosting</h5>
        <p>
            Forget servers, think services instead. Each App on fortrabbit runs on a cluster of different Nodes. Apps are isolated, use one App for one website.
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Code better, pay less
        </h5>
        <p>
            The resources your App will need heavily depends on the code you write. Your skills, best coding practices, a modern framework can be a good combination.
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Try first
        </h5>
        <p>
           Spin up a small App without obligations for 72 hours. Ask us to extend your trial period. Repeat as often you want.
        </p>
    </div>        
    <div class="quarter half-tablet">
        <h5>
            Start small, scale later
        </h5>
        <p>
            Scaling happens almost instantly. We advice to start with the minimum set up first and experiment with different settings.
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Cancel at any time
        </h5>
        <p>
            You can quit your Account completely with immediate effect at any time directly from the Dashboard or scale down components or delete Apps.
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Use a day, throw away
        </h5>
        <p>
            Monthly prices are shown here. The billing period however is daily. So you'll be charged just for the days you have actually used a certain App or Component.
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Pay after usage
        </h5>
        <p>
            Only pay for what you actually use. At the start of each new month, you'll get the invoice for the previous month. 
        </p>
    </div>
    <div class="quarter half-tablet" id="fn_tinkering">
        <h5>Tinkering scalings</h5>
        <p>
           99% Uptime guarantee. Use for development, testing, playing, experiments, staging, feature branches, hot fixes, pet projects, weekend hacks, student work, personal blogs, low traffic websites …
        </p>
    </div>
    <div class="quarter half-tablet" id="fn_production">
        <h5>Production scalings</h5>
        <p>
            99.9% Uptime guarantee. Use for professional work, commercial projects, mission critical Apps, live sites, high traffic campaigns …
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            VAT may apply
        </h5>
        <p>
            Prices are net and subject to statutory VAT and <a href="{{ help_url }}/billing##toc-taxes">may be added</a>. {#VAT is added for clients from Germany and the Europe Union without valid VAT IN. VAT is not added for clients from European Union with valid VAT IN and from all other countries.#}
        </p>
    </div>
    <div class="quarter half-tablet">
        <h5>
            Made for entrepreneurs
        </h5>
        <p>
            The fortrabbit service is for entrepreneurs only - it's a professional B2B offering. 
        </p>
    </div>
</div>
