
<h2 class="m-top-xxl type-xl">
    Customer quotes
</h2>

<div class="row gutter-l wrap collapse m-top-l">
    <div class="third half-t">
        {% include '/snippets/quotes.twig' with {
            'quoteText'      : 'support2',
            'quoteClasses'   : 'hero-quote',
            'quoteTextClass' : 'type-m p-l',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
    <div class="third half-t">
        {% include '/snippets/quotes.twig' with {
            'quoteText'      : 'silentworks',
            'quoteClasses'   : 'hero-quote',
            'quoteTextClass' : 'type-m p-l',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
    <div class="third half-t">
        {% include '/snippets/quotes.twig' with {
            'quoteText'      : 'tattershall',
            'quoteClasses'   : 'hero-quote',
            'quoteTextClass' : 'type-m p-l',
            'quoteCreditClass': 'type-s'
        }%}
    </div>
</div>

<p class="m-top-l m-bottom-m type-l">
    <a href="/customers">See more customers ›</a>
</p>