{# OBSOLETE? #}
<a href="{{ dashboard_url }}/signup" class="action type-xxl p-l" data-user="unknown">
    Test it free now &rarr;
</a>
<a href="{{ dashboard_url }}" class="action type-xxl p-l" data-user="known">
    Go to the Dashboard ›
</a>
