<div class="tabrow m-bottom-m">

    <div class="m-top-l">
    {% include 'snippets/currency-period-chooser.twig' with {
        'currency': currency,
        'inverted': true
    } %}
    </div>
    <menu class="row gutter-no m-top-s">

        <a href="/{{ link }}" class="unistack tab auto p-m{% if stack == 'uni' %} active{% endif %}">
            <span class="type-bold">Universal Stack</span>
            <span class="type-thin hide-p">for websites</span>
            <span class="newtag type-s hide-t type-bold">NEW</span>
        </a>
        <a href="/{{ link }}-pro" class="prostack tab p-m{% if stack == 'pro' %} active{% endif %}">
            <span class="type-bold">Professional Stack</span>
            <span class="type-thin hide-p">for modern web applications </span>
        </a>
    </menu>
</div>
