{% include 'snippets/last-call-button.twig' with {
    'campaign': 'laravel',
    'button_wording_1':'Sign up',
    'button_wording_2':'and try it first'
}%}

<div class="row gutter-m collapse wrap m-top-xs">
    <a href="mailto:sales@fortrabbit.com" class="action b-2 p-l type-xl">sales@fortrabbit.com</a>
    <a href="tel:+49‑30‑609807840" class="action b-2 p-l type-xl">+49‑30‑609807840</a>
</div>

{# Version with Wizard:
<div class="row gutter-m m-top-xs">
    <a href="" class="action b-2">Map your existing application</a>
    <a href="" class="action b-2 auto">Contact sales</a>
</div>
#}