<h2>
    Not cheap, but well worth the money
</h2>
<figure class="m-top-m">
    <img src="{{ assetsremote }}/img/we-offer-3-kinds-of-service.jpg" alt="services offered">
</figure>
<p class="m-top-s">
    Our definition of <strong>good hosting</strong> is one where systems are managed and you only need to care about crafting your App. Forget servers, think services instead.
</p>