<div class="wrapper narrow spacertophuge">
	<h4>
		Not cheap, but well worth the money
	</h4>
	<figure class="spacertop">
		<img src="{{ assetsremote }}/img/we-offer-3-kinds-of-service.jpg" alt="services offered">
		<figcaption>A meme we like.</figcaption>
	</figure>
	<p>
		Our definition of <strong>good hosting</strong> is one where systems are managed and you only need to care about crafting your App. Do the math: How much time do you spend on SysOp tasks?
	</p>
	{#
	<p>
		Please don't compare hosting by price tag and raw computing resources only. Most services leave you alone with SysOp. Setting up a production ready Linux  and also keep it running takes your valuable time. That's not good.
	</p>
	#}
	<div class="row gutterbig collapse">
		<div class="half">
			<h5>Why not <accr title="Do It Yourself">DIY</accr> on a <accr title="Virtual Private Server">VPS</accr>?</h5>
			<p class="fineprint">
				Are you able to set up a production-ready stack? Do you like to take responsibility for monitoring and security on an ongoing basis, 24/7? A virtual server is cheap. But is it worth it? Do you need all the power or isn't it mostly overhead? What about your own time?
			</p>
		</div>
		<div class="half">
			<h5>Why not <accr title="Do It Yourself">DIY</accr> on <accr title="Amazon Web Services">AWS</accr>?</h5>
			<p class="fineprint">
				Yes, fortrabbit runs on AWS as well. But the <a href="{{ help_url }}/the-platform">architecture</a> is not just a bunch of stacked EC2s. Also, we book lot's of reserved resources, so the service is offered on AWS on demand price level.
			</p>
		</div>
	</div>
</div>