{% set digitalOcean %}
<a href="why-not-digitalocean" id="why-not-do" class="rowbox p-s type-s">
    fortrabbit VS DigitalOcean
</a>
{% endset %}

{% set Forge %}
<a href="why-not-forge" id="why-not-forge" class="rowbox p-s type-s">
    fortrabbit VS Forge
</a>
{% endset %}

{% set Heroku %}
<a href="why-not-heroku" id="why-not-heroku" class="rowbox p-s type-s">
    fortrabbit VS Heroku
</a>
{% endset %}

{% set AWS %}
<a href="why-not-aws" id="why-not-heroku" class="rowbox p-s type-s">
    fortrabbit VS AWS
</a>
{% endset %}

{% set PagodaBox %}
<a href="why-not-pagodabox" id="why-not-heroku" class="rowbox p-s type-s">
    fortrabbit VS Pagoda Box
</a>
{% endset %}

{% set list = [ digitalOcean, AWS, Forge, Heroku, PagodaBox ] %}


<h4>Why not X?</h4>
<div class="gutter-no">
    {% for item in list | shuffle %}
    {{ item }}
    {% endfor %}
</div>