<h4>
    Why fortrabbit, not X?
</h4>
<p>
    Comparing different hosting offerings is hard. We have set some pages to help you compare fortrabbit with: <a href="why-not-digitalocean">DigitalOcean</a>, <a href="why-not-forge">Forge</a>, <a href="why-not-heroku">Heroku</a>, <a href="why-not-aws">AWS</a>, <a href="why-not-pagodabox">Pagoda Box</a>.
</p>