<div class="phuge">
    <p class="fineprint">
        This is the bottom line. {{ provider }} is a great hosting provider. fortrabbit hosting is a good alternative when it comes to fast, secure, reliable and affordable <a href="php-hosting">PHP hosting</a>.
    </p>
</div>