<h4>What's your App like?</h4>
<label class="spacertop row small">
    <input type="radio" name="wizard-app-size" value="slim" checked>
    <div class="clip">
        <span class="boldfont">Slim</span>
        <span class="thinfont">— Slim Framework, Silex, Phalcon …</span>
    </div>
</label>
<label class="spacertop row small">
    <input type="radio" name="wizard-app-size" value="average">
    <div class="clip">
        <span class="boldfont">Average</span>
        <span class="thinfont">— Laravel, Symfony, CodeIgniter, CakePHP, WordPress …</span>
    </div>
</label>
<label class="spacertop row small">
    <input type="radio" name="wizard-app-size" value="fat">
    <div class="clip">
        <span class="boldfont">Fat</span>
        <span class="thinfont">— Magento, Drupal, Zend Framework …</span>
    </div>
</label>

<h4>How many page views do you expect per day?</h4>
<label class="spacertop row small">
    <input type="radio" name="wizard-request-amount" value="0" checked>
    <div class="boldfont">Don't know yet</div>
</label>
<label class="spacertop row small">
    <input type="radio" name="wizard-request-amount" value="10">
    <div class="boldfont">10k</div>
</label>
<label class="spacertop row small">
    <input type="radio" name="wizard-request-amount" value="100">
    <div class="boldfont">100k</div>
</label>
<label class="spacertop row small">
    <input type="radio" name="wizard-request-amount" value="1000">
    <div class="boldfont">1M</div>
</label>

<h4>What else is important to you?</h4>
<label class="spacertop row small">
    <input type="checkbox" name="wizard-option" value="ha">
    <div class="clip">
        <span class="boldfont">High availability</span>
        <span class="thinfont">— redundancy for mission critical Apps</span>
    </div>
    <div class="boldfont"></div>
</label>
<label class="spacertop row small">
    <input type="checkbox" name="wizard-option" value="worker">
    <div class="clip">
        <span class="boldfont">Workers</span>
        <span class="thinfont">— background jobs &amp; crons</span>
    </div>
</label>
<label class="spacertop row small">
    <input type="checkbox" name="wizard-option" value="ssl">
    <div class="clip">
        <span class="boldfont">SSL</span>
        <span class="thinfont">— transfer encryption via HTTPS</span>
    </div>
</label>
<label class="spacertop row small">
    <input type="checkbox" name="wizard-option" value="mysql" checked>
    <div class="boldfont">MySQL</div>
</label>

<a href="#calculate" id="calculate" class="spacertopbig action big secondary">
    See results
</a>

<script>
    $(function() {
        var wizardMapping = {
            'app-size': {
                'slim': 'slim',
                'average': 'average',
                'fat': 'fat'
            },
            'request-amount': {
                '0': 'an unknown amount of visitors',
                '10': 'about 10k visitors per day',
                '100': 'about 100k visitors per day',
                '1000': 'about 1M visitors per day'
            },
            'option': {
                'ha': 'high availability is of the essence',
                'worker': 'Workers will be used',
                'ssl': 'SSL is required',
                'mysql': 'MySql will be needed'
            }
        };

        $('#calculate').click(function(e) {
            e.preventDefault();

            // output text
            var appSize = $('input[name=wizard-app-size]:checked').val();
            $('#wizard-app-size').text(wizardMapping['app-size'][appSize]);
            var requestAmount = $('input[name=wizard-request-amount]:checked').val();
            $('#wizard-request-amount').text(wizardMapping['request-amount'][requestAmount]);
            var optionOut = $('#wizard-option');
            var options = {};
            var optionsChecked = $('input[name=wizard-option]:checked');
            if (optionsChecked.length == 0) {
                optionOut.hide();
            } else {
                optionOut.empty().show();
                var list = [];
                optionsChecked.each(function() {
                    var text = $('<strong/>');
                    var name = $(this).val();
                    options[name] = true;
                    text.text(wizardMapping['option'][name]);
                    list.push(text);
                });
                for (var i = 0; i < list.length - 1; i++) {
                    $('<span>, </span>').appendTo(optionOut);
                    list[i].appendTo(optionOut);
                }
                $('<span> and </span>').appendTo(optionOut);
                list[list.length -1].appendTo(optionOut);
            }

            // select plans
            var plans = [];
            $('#custom input[type=radio]').each(function() {
                var self = $(this);
                var name = self.attr('name');
                if (!plans[name]) plans[name] = [];
                plans[name].push(self);
            });
            requestAmount = parseInt(requestAmount);

            // plan: worker
            if (options.worker) {
                if (requestAmount >= 100) {
                    plans.ssh[2].attr('checked', 'checked').trigger('change');
                } else {
                    plans.ssh[1].attr('checked', 'checked').trigger('change');
                }
            } else {
                plans.ssh[0].attr('checked', 'checked').trigger('change');
            }

            // plan: routing
            if (options.ssl) {
                plans.routing[1].attr('checked', 'checked').trigger('change');
            } else {
                plans.routing[0].attr('checked', 'checked').trigger('change');
            }

            // plan: mysql
            if (options.mysql) {
                if (requestAmount >= 100) {
                    plans.mysql[3].attr('checked', 'checked').trigger('change');
                } else if (requestAmount >= 10) {
                    plans.mysql[2].attr('checked', 'checked').trigger('change');
                } else {
                    plans.mysql[1].attr('checked', 'checked').trigger('change');
                }
            } else {
                plans.mysql[0].attr('checked', 'checked').trigger('change');
            }

            // plan: frontend
            var minPlanHa = 0;
            if (options.ha) {
                minPlanHa = 3;
            }
            var minPlanSize = 0;
            switch (appSize) {
                case 'fat':
                    minPlanSize = requestAmount >= 100 ? 5 : 4;
                    break;
                case 'average':
                    minPlanSize = requestAmount >= 100 ? 4 : 3;
                    break;
                default: // slim
                    minPlanSize = requestAmount >= 100 ? 3 : 2;
                    break;
            }
            plans.frontend[minPlanHa > minPlanSize ? minPlanHa : minPlanSize].attr('checked', 'checked').trigger('change');

            // show it all
            $('a[href=#custom]').trigger('click');
            $('html, body').animate({
                scrollTop: $("#custom").offset().top
            }, 500);
            $('#wizard-output').removeClass('hidden').addClass('animated fadeInZoom animdelay1');
        });
    })
</script>
