{#
<h2 class="m-top-xl">
    Your benefits
</h2>
#}
<div class="row wrap gutter-l collapse m-top-l">
    <div class="half">
        <h2>
            Focus
        </h2>
        <p class="type-l">
            Craft Apps instead of managing hosting infrastructure.
        </p>
    </div>
    <div class="half">
        <h2>
            Launch
        </h2>
        <p class="type-l">
            Get online faster with increased productivity. Ship faster, get feedback quickly, iterate, repeat.
        </p>
    </div>
    <div class="half">
        <h2>
            Teamwork
        </h2>
        <p class="type-l">
            Manage code and team at ease with well defined workflows.
        </p>
    </div>
    <div class="half">
        <h2>
            Experiment
        </h2>
        <p class="type-l">
            Swiftly set up tests and experiments. Setup and run multiple parallel versions of your App.
        </p>
    </div>
</div>