<h2 class="poetry m-top-xsbig">
	Your benefits
</h2>
<div class="row wrap gutterbig collapse tablet">
	{#
	<div class="quarter">
		<h4>
			Speed
		</h4>
		<p>
			Leverage the performance of an optimized PHP stack.
		</p>
	</div>
	#}
	<div class="quarter">
		<h4>
			Focus
		</h4>
		<p>
			Craft Apps instead of managing hosting infrastructure.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Launch
		</h4>
		<p>
			Get online faster with increased productivity. Ship faster to get feedback in more quickly; iterate, repeat.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Teamwork
		</h4>
		<p>
			Manage code and team at ease with well defined workflows.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Experiment
		</h4>
		<p>
			Swiftly set up tests and experiments. Setup and run multiple parallel versions of your App.
		</p>
	</div>

</div>
<h2 class="poetry m-top-xshuge">
	Our service
</h2>
<div class="row wrap gutterbig collapse tablet m-top-xsbig">
	<div class="quarter">
		<h4>Maintenance</h4>
		<p >
			The service is constantly and professionally managed. We have a high level of security standards. We are committed to an always safe, secure and up-to-date platform.
		</p>
	</div>
	{#
	<div class="quarter">
		<h4>Architecture</h4>
		<p >
			We encourage you to design great software that degrades gracefully. We do our part by serving a managed PHP hosting that comes with built-in fault tolerance, health checks, auto recovery and replication.
		</p>
	</div>
	#}
	<div class="quarter">
		<h4>Failure tolerance</h4>
		<p >
			Leverage managed enterprise level hosting for an affordable price – providing more than the plain numbers in the SLA with three-nine (99.9%) uptime guarantee.
		</p>
	</div>
	<div class="quarter">
		<h4>Disaster recovery</h4>
		<p >
			Backups of all user data and service configurations are stored periodically in separated locations. Disaster recovery plans for worst case scenarios are in place.
		</p>
	</div>
	<div class="quarter">
		<h4>Availability zones</h4>
		<p >
			AWS Availability Zones are independent datacenter units with autonomous power supply and network uplinks. Our whole infrastructure is spread across multiple zones and is prepared for a complete black-out of a complete zone.
		</p>
	</div>
	<div class="quarter">
		<h4>Node redundancy</h4>
		<p >
			High availability plans offer web server multiplication. Scale your App to run on up to eight nodes simultaneously. The load balancer distributes requests equally.
		</p>
	</div>
	<div class="quarter">
		<h4>Database replication</h4>
		<p >
			All MySQL database plans run on Amazon's RDS in a replicated setup in multiple availability zones.
		</p>
	</div>
	<div class="quarter">
		<h4>Storage redundancy</h4>
		<p >
			The distributed file storage is replicated in another availability zone. The fail-over storage is always up to date and will take over automatically in case of outages.
		</p>
	</div>
	<div class="quarter">
		<h4>Cache clustering</h4>
		<p >
			Our Memcache Component is your key value store of choice when your App runs on multiple nodes – of course also available in a redundant setup.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Core features
		</h4>
		<p>
			Fast Git push to deployment, ComposerPHP integration, SSH, SFTP, PHP 5.4, PHP 5.5, PHP 5.6,, fast support, MySQL, Workers, Memcache, APC …
		</p>
	</div>
	<div class="quarter">
		<h4>
			PHP modules
		</h4>
		<p>
			bcmath, bz2, calendar, ctype, date, dba, dom, ereg, exif, fileinfo, filter, ftp, gettext, hash, iconv, json, libxml, mbstring, mhash, openssl, pcre, phar, posix, reflection, session, shmop, soap, sockets, spl, sysvmsg, tokenizer, wddx, xml, xmlreader, xmlwriter, zip, zlib
		</p>
	</div>
	<div class="quarter">
		<h4>
			Other keywords
		</h4>
		<p>
			Composer, PHPUnit, Guzzle, traits, namespaces, DevOp, SysOp, PaaS, IaaS, SaaS, Europe, european, data center, server, eCommerce, e-commerce, software architects, project managers, HHVM, HACK
		</p>
	</div>
	<div class="quarter">
		<h4>
			Technologies
		</h4>
		<p>
			Apache, Assetic, Composer, Contao Open Source CMS, Doctrine, Drupal, eZ Publish, Laravel, Lithium, Packagist, Phalcon, PrestaShop, PyroCMS, Symfony2, TYPO3 Flow, Wikidata, Yii framework … 
		</p>
	</div>
</div>
