






                



<div class="content">
    
    <div id="custom-options">

        
    
<form action="" method="post" id="scale" class="gutter-no">

    
    


        
        


                <div class="row gutter-no collapse wrap m-top-l">
    
        <div class="quarter box half-t p-m column">

            <h3 class="type-bold auto">
                Company xs
            </h3>
            <p class="auto clip">
                serving solo developers
            </p>

            <ul class="rowboxList features-list m-top-m">
                                    <li data-feature="prio-support" class="feature-prio-support">
                        Low prio support
                        <a class="helpicon floated" href="#prio-support">?</a>
                    </li>
                                    <li data-feature="company-members" class="feature-company-members">
                        1 Company member
                        <a class="helpicon floated" href="#company-members">?</a>
                    </li>
                                    <li data-feature="billing-contacts" class="feature-billing-contacts">
                        1 Billing Contact
                        <a class="helpicon floated" href="#billing-contacts">?</a>
                    </li>
                            </ul>


                                            <div class="m-top-l auto">
                    <span class="type-xl"><span class="type-thin">€</span><span class="type-bold">0</span></span>
                    <span class="type-s">monthly per Company</span>
                </div>
                    </div>
    
        <div class="quarter box half-t p-m column">

            <h3 class="type-bold auto">
                Company s
            </h3>
            <p class="auto clip">
                helping a busy team
            </p>

            <ul class="rowboxList features-list m-top-m">
                                    <li data-feature="prio-support" class="feature-prio-support">
                        Basic prio support
                        <a class="helpicon floated" href="#prio-support">?</a>
                    </li>
                                    <li data-feature="company-members" class="feature-company-members">
                        3 Company members
                        <a class="helpicon floated" href="#company-members">?</a>
                    </li>
                                    <li data-feature="billing-contacts" class="feature-billing-contacts">
                        2 Billing Contacts
                        <a class="helpicon floated" href="#billing-contacts">?</a>
                    </li>
                            </ul>


                                            <div class="m-top-l auto">
                    <span class="type-xl"><span class="type-thin">€</span><span class="type-bold">10</span></span>
                    <span class="type-s">monthly per Company</span>
                </div>
                    </div>
    
        <div class="quarter box half-t p-m column">

            <h3 class="type-bold auto">
                Company m
            </h3>
            <p class="auto clip">
                supporting serious business
            </p>

            <ul class="rowboxList features-list m-top-m">
                                    <li data-feature="prio-support" class="feature-prio-support">
                        High prio support
                        <a class="helpicon floated" href="#prio-support">?</a>
                    </li>
                                    <li data-feature="company-members" class="feature-company-members">
                        10 Company members
                        <a class="helpicon floated" href="#company-members">?</a>
                    </li>
                                    <li data-feature="billing-contacts" class="feature-billing-contacts">
                        25 Billing Contacts
                        <a class="helpicon floated" href="#billing-contacts">?</a>
                    </li>
                            </ul>


                                            <div class="m-top-l auto">
                    <span class="type-xl"><span class="type-thin">€</span><span class="type-bold">50</span></span>
                    <span class="type-s">monthly per Company</span>
                </div>
                    </div>
    
        <div class="quarter box half-t p-m column">

            <h3 class="type-bold auto">
                Company l
            </h3>
            <p class="auto clip">
                backing large organisations
            </p>

            <ul class="rowboxList features-list m-top-m">
                                    <li data-feature="prio-support" class="feature-prio-support">
                        Extended support
                        <a class="helpicon floated" href="#prio-support">?</a>
                    </li>
                                    <li data-feature="company-members" class="feature-company-members">
                        50 Company members
                        <a class="helpicon floated" href="#company-members">?</a>
                    </li>
                                    <li data-feature="billing-contacts" class="feature-billing-contacts">
                        100 Billing Contacts
                        <a class="helpicon floated" href="#billing-contacts">?</a>
                    </li>
                            </ul>


                                            <div class="m-top-l auto">
                    <span class="type-xl"><span class="type-thin">€</span><span class="type-bold">250</span></span>
                    <span class="type-s">monthly per Company</span>
                </div>
                    </div>
    </div>

        <input type="hidden" name="current_plan" id="current_plan" value="">
        <input type="hidden" name="current_product_plan" id="current_product_plan" value="support__">

            <input type="hidden" name="_token" value="2SyMBC2HmGBY8N6QlfRarRNvUwFSSBjvTk8O1Avj">
</form>

    </div>

    </div>
