





                        


<div class="content">
    



        
        <div class="row gutter-no collapse-t tabs">

            
                <div data-tab class="third plan box p-l column ">

                                        <h3 class="type-bold auto type-xxl clip" style="padding: 0 0 .3rem 0">
                        Light
                    </h3>
                    <div class="auto type-l type-thin m-bottom-m">
                        hobby projects
                    </div>

                    <ul class="rowboxList features-list m-top-xxs-minus m-bottom-l">
                                                    <li data-feature="processes" class="feature-processes">
                                2 PHP processes
                                <a class="helpicon floated" href="#processes">?</a>
                            </li>
                                                    <li data-feature="memory" class="feature-memory">
                                128 MB PHP Memory
                                <a class="helpicon floated" href="#memory">?</a>
                            </li>
                                                    <li data-feature="storage" class="feature-storage">
                                1 GB Web storage
                                <a class="helpicon floated" href="#storage">?</a>
                            </li>
                                                    <li data-feature="mysql" class="feature-mysql">
                                256 MB MySQL storage
                                <a class="helpicon floated" href="#mysql">?</a>
                            </li>
                                                <li class="type-bold">
                            + all general features <a href="#general-features" class="helpicon floated">?</a>
                        </li>
                    </ul>


                                                                    <div class="auto flex-bottom">
                            <span class="type-xxl"><span class="type-thin">€</span><span class="type-bold">5</span></span>
                            <span class="type-s">per App monthly</span>
                        </div>


                    


                </div>
            
                <div data-tab class="third plan box p-l column featured">

                                        <h3 class="type-bold auto type-xxl clip" style="padding: 0 0 .3rem 0">
                        Standard
                    </h3>
                    <div class="auto type-l type-thin m-bottom-m">
                        general productions
                    </div>

                    <ul class="rowboxList features-list m-top-xxs-minus m-bottom-l">
                                                    <li data-feature="processes" class="feature-processes">
                                4 PHP processes
                                <a class="helpicon floated" href="#processes">?</a>
                            </li>
                                                    <li data-feature="memory" class="feature-memory">
                                256 MB PHP Memory
                                <a class="helpicon floated" href="#memory">?</a>
                            </li>
                                                    <li data-feature="storage" class="feature-storage">
                                5 GB Web storage
                                <a class="helpicon floated" href="#storage">?</a>
                            </li>
                                                    <li data-feature="mysql" class="feature-mysql">
                                512 MB MySQL storage
                                <a class="helpicon floated" href="#mysql">?</a>
                            </li>
                                                    <li data-feature="backups" class="feature-backups">
                                Backups
                                <a class="helpicon floated" href="#backups">?</a>
                            </li>
                                                    <li data-feature="crons" class="feature-crons">
                                Cron Jobs
                                <a class="helpicon floated" href="#crons">?</a>
                            </li>
                                                <li class="type-bold">
                            + all general features <a href="#general-features" class="helpicon floated">?</a>
                        </li>
                    </ul>


                                                                    <div class="auto flex-bottom">
                            <span class="type-xxl"><span class="type-thin">€</span><span class="type-bold">15</span></span>
                            <span class="type-s">per App monthly</span>
                        </div>


                    


                </div>
            
                <div data-tab class="third plan box p-l column ">

                                        <h3 class="type-bold auto type-xxl clip" style="padding: 0 0 .3rem 0">
                        Plus
                    </h3>
                    <div class="auto type-l type-thin m-bottom-m">
                        serious business
                    </div>

                    <ul class="rowboxList features-list m-top-xxs-minus m-bottom-l">
                                                    <li data-feature="processes" class="feature-processes">
                                8 PHP processes
                                <a class="helpicon floated" href="#processes">?</a>
                            </li>
                                                    <li data-feature="memory" class="feature-memory">
                                512 MB PHP Memory
                                <a class="helpicon floated" href="#memory">?</a>
                            </li>
                                                    <li data-feature="storage" class="feature-storage">
                                10 GB Web storage
                                <a class="helpicon floated" href="#storage">?</a>
                            </li>
                                                    <li data-feature="mysql" class="feature-mysql">
                                1 GB MySQL storage
                                <a class="helpicon floated" href="#mysql">?</a>
                            </li>
                                                    <li data-feature="backups" class="feature-backups">
                                Backups
                                <a class="helpicon floated" href="#backups">?</a>
                            </li>
                                                    <li data-feature="crons" class="feature-crons">
                                Cron Jobs
                                <a class="helpicon floated" href="#crons">?</a>
                            </li>
                                                <li class="type-bold">
                            + all general features <a href="#general-features" class="helpicon floated">?</a>
                        </li>
                    </ul>


                                                                    <div class="auto flex-bottom">
                            <span class="type-xxl"><span class="type-thin">€</span><span class="type-bold">30</span></span>
                            <span class="type-s">per App monthly</span>
                        </div>


                    


                </div>
            
        </div>


        
        

        
        




<script>
    var presetComponents = null;
    var animSpeed = 120;

    $(function () {

        // show Components when click on "modify"
        $('a.comp_listitem').click(function (e) {
            e.preventDefault();

            var group = $('.comp_detailsgroup:visible');
            group.slideUp(400);
            group.parent().find('.comp_listitem').slideDown(animSpeed);

            $(this).slideUp(animSpeed); // hide the thing itself
            $(this).siblings('.comp_detailsgroup').slideDown(animSpeed); // show the details
            //$('#presets a').removeClass( 'active' ); // remove active calls from presets
        });

        // Manual changes > show 
        $('.comp_detailsgroup input').on('click', function () {
            $(this).trigger('apply');
            $('.preset').removeClass('active');
            $('#pricing_cta_start_free_trial').addClass('hidden');
            //$('#manual_selection_price').removeClass('hidden');
        });

        // Toggle plans based on node count
        $('.nodeSelect').change(function() {
            $(this).parent().find('.nodegroup').hide();
            $(this).parent().find('.nodegroup_' + $(this).val()).show();
        });

        // Apply changes
        $('.comp_detailsgroup input').on('apply', function () {

            var productName = $(this).data('product');
            var productRow = $('[data-product="' + productName + '"]');
            var planChooser = $('div[data-product-plans="' + productName + '"]');


            // nodegroup toggle
            if ($(this).data('node-count') > 1) {
                $('.nodegroup').hide();
                $('.nodegroup_' + $(this).data('node-count')).show();
                $('.nodeSelect').val($(this).data('node-count'));
            }

            productRow.find('[data-field=plan-title]').text($(this).data('src-title'));
            productRow.find('[data-field=plan-price]').text($(this).data('src-price-formatted'));
            productRow.find('[data-field=plan-subline]').text($(this).data('src-description'));
            productRow.find('.plan-price-wrapper').show();

            // off state
            if ($(this).data('src-price-amount') == 0) {
                var subline = productRow.find('[data-field=plan-subline]');
                subline.text(subline.data('product-description'));
                productRow.find('.plan-price-wrapper').hide();
            }

            productRow.slideDown(animSpeed);
            planChooser.slideUp(animSpeed);

            $(this).trigger('change');


            // Update total price
            if ($('#x-totalprice').length) {
                var total = 0;
                $('input[data-src-price-amount]:checked').each(function () {
                    total += $(this).data('src-price-amount');
                });
                $('#x-totalprice').text(total);
            }


        });

    });


    // init
    $(function () {
        $('.comp_detailsgroup').hide();             // hide all detailconfigs

        // Preset stuff
        $('a[data-preset-name]').click(function (e) {

            // don't jump around
            e.preventDefault();

            // Toggle active state
            $('a[data-preset-name]').removeClass('active');
            $(this).addClass('active');

            // Get components
            var preset = $(this).data('preset-name');
            var components = presetComponents[preset];

            // Apply
            $.each(components, function (i, product_plan) {
                $('input[value="' + product_plan + '"]').prop('checked', true).trigger('apply');
            });

            // Toggle trial
            $('#pricing_cta_start_free_trial').toggleClass('hidden', !$(this).data('trial-option'));
            $('#pricing_cta_start_free_trial button').val($(this).data('trial-option'));

        });

        // Universal
        $('input[name="universal_plan"]').change(function() {
            $('#x-totalprice').text($(this).data('price'));
        }).filter(':checked').trigger('change');



        // Use trial preset as default
        $('a[data-preselected=1]').trigger('click');

    });

</script>

</div>
