






                        


<div class="content">
    
    <div id="custom-options">

        
    
<form action="" method="post" id="scale" class="gutter-no">

    
    


        

                


<div class="row gutter-no collapse wrap m-top-xs">
            
            <div data-tab class="quarter box third half-t p-m tabs">

                <h3 class="type-l type-center">
                    Free Support
                </h3>

                <div class="    m-top-s m-bottom-l type-center">
                    included
                </div>

                                                            <div class="row rowbox p-xs type-s ">
                            <div>Response time</div>
                            <div class="auto m-left-s">
                                                                    best effort
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>E-mail support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Live chat</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>Telephone support</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>App monitoring</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>Pro active support</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                    

                <div class="right auto m-top-m">
                                        <span class="type-s">monthly/</span>
                                        <span class="type-thin type-xl">
                        €0
                    </span>
                </div>

                
            </div>
                    
            <div data-tab class="quarter box third half-t p-m tabs">

                <h3 class="type-l type-center">
                    Pro Support s
                </h3>

                <div class="    m-top-s m-bottom-l type-center">
                    for solo freelancers
                </div>

                                                            <div class="row rowbox p-xs type-s ">
                            <div>Response time</div>
                            <div class="auto m-left-s">
                                                                    &lt; 48 hrs
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>E-mail support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Live chat</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>Telephone support</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>App monitoring</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>Pro active support</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                    

                <div class="right auto m-top-m">
                                        <span class="type-s">monthly/</span>
                                        <span class="type-thin type-xl">
                        €25
                    </span>
                </div>

                
            </div>
                    
            <div data-tab class="quarter box third half-t p-m tabs">

                <h3 class="type-l type-center">
                    Pro Support m
                </h3>

                <div class="    m-top-s m-bottom-l type-center">
                    for small teams
                </div>

                                                            <div class="row rowbox p-xs type-s ">
                            <div>Response time</div>
                            <div class="auto m-left-s">
                                                                    &lt; 8 hrs
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>E-mail support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Live chat</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Telephone support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>App monitoring</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s dimmed">
                            <div>Pro active support</div>
                            <div class="auto m-left-s">
                                                                    ✘
                                                            </div>
                        </div>
                                    

                <div class="right auto m-top-m">
                                        <span class="type-s">monthly/</span>
                                        <span class="type-thin type-xl">
                        €75
                    </span>
                </div>

                
            </div>
                    
            <div data-tab class="quarter box third half-t p-m tabs">

                <h3 class="type-l type-center">
                    Pro Support l
                </h3>

                <div class="    m-top-s m-bottom-l type-center">
                    for big teams
                </div>

                                                            <div class="row rowbox p-xs type-s ">
                            <div>Response time</div>
                            <div class="auto m-left-s">
                                                                    &lt; 4 hrs
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>E-mail support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Live chat</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Telephone support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>App monitoring</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                                                                <div class="row rowbox p-xs type-s ">
                            <div>Pro active support</div>
                            <div class="auto m-left-s">
                                                                    ✔
                                                            </div>
                        </div>
                                    

                <div class="right auto m-top-m">
                                        <span class="type-s">monthly/</span>
                                        <span class="type-thin type-xl">
                        €250
                    </span>
                </div>

                
            </div>
            </div>



        <input type="hidden" name="current_plan" id="current_plan" value="off">
        <input type="hidden" name="current_product_plan" id="current_product_plan" value="support__off">

            <input type="hidden" name="_token" value="FhzxH0bQ3btbDwAWlnF24i9c19x6Km4UklC3x06Z">
</form>

    </div>

</div>

