<div class="sectionHeading row m-top-l">
    <h4>
        Backups
    </h4>
    <a href="{{ help_url }}/backups-uni" class="auto linkstyle flex-end type-s">
        Backups on fortrabbit
    </a>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Days of retention <a href="#ref-backup-retention" class="reflink">24</a></td>
            <td class="numbers">14</td>
        </tr>
        <tr>
            <td>Snapshot time in EU <a href="#ref-backup-time" class="reflink">24</a></td>
            <td class="numbers" title="02:00h GMT">02:00h UTC</td>
        </tr>
        <tr>
            <td>Availablility in EU <a href="#ref-backup-availability" class="reflink">24</a></td>
            <td class="numbers" title="05:00h GMT">05:00h UTC</td>
        </tr>
        <tr>
            <td>Snapshot time in US <a href="#ref-backup-time" class="reflink">24</a></td>
            <td class="numbers" title="02:00h EST">07:00h UTC</td>
        </tr>
        <tr>
            <td>Availablility in US <a href="#ref-backup-availability" class="reflink">24</a></td>
            <td class="numbers" title="05:00h EST">10:00h UTC</td>
        </tr>
    </table>
</div>
