<div class="row m-bottom-s m-top-l">
    <h4 id="ssh-and-sftp">
        Cron Job
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Cron Intervals</td>
            <td>hourly, daily, weekly, monthly</td>
        </tr>
    </table>
</div>
