<div class="row sectionHeading m-top-l">
    <h4 id="cron-jobs">
        Cron Jobs
    </h4>
       <a href="{{ help_url }}/cron-job-uni" class="auto linkstyle flex-end type-s">
        Using crons on fortrabbit
    </a>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Interval times</td>
            <td>hourly, daily, weekly, monthly</td>
        </tr>
    </table>
</div>
