<div class="sectionHeading row">
    <h4>
        Deployment
    </h4>
    <a href="{{ help_url }}/deployment" class="auto linkstyle flex-end type-s">
        Deployment on fortrabbit
    </a>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>PHP memory limit in deployment<a href="#ref-deploy-memory" class="reflink">24</a></td>
            <td class="numbers">512 MB</td>
        </tr>

        <tr>
            <td>Max time for git push</td>
            <td class="numbers">20 m</td>
        </tr>
        <tr>
            <td>Max time for git pull</td>
            <td class="numbers">10 m</td>
        </tr>
        <tr>
            <td>Max time running Composer in deployment</td>
            <td class="numbers">10 m</td>
        </tr>
        <tr>
            <td>Max time running pre script in deployment</td>
            <td class="numbers">10 m</td>
        </tr>
        <tr>
            <td>Max time running post script in deployment</td>
            <td class="numbers">10 m</td>
        </tr>
        <tr>
            <td>Max size of deployment release package <a href="#ref-deployment-release-package" class="reflink">22</a></td>
            <td class="numbers">200 MB</td>
        </tr>
    </table>
</div>
