<div class="row m-bottom-s m-top-l">
    <h4>
        New Relic <span class="amp">&amp;</span> Blackfire
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Blackfire</td>
            <td>Available for Work plan</td>
        </tr>
            <tr>
                <td>New Relic</td>
                <td>Available for Work plan</td>
            </tr>
    </table>
</div>
