<div class="row sectionHeading m-top-l">
    <h4>
        Performance tools
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Blackfire</td>
            <td>BYOL available for Plus plan</td>
        </tr>
        <tr>
            <td>New Relic</td>
            <td>BYOL available for Plus plan</td>
        </tr>
    </table>
</div>
