<div class="row m-bottom-s m-top-l" id="php-extensions">
    <h4>
        PHP extensions
    </h3>
</div>
<p class="type-s">
    <strong>PHP 7</strong>: apcu, bcmath, blackfire, bz2, calendar, cgi-fcgi, core, ctype, curl, date, dba, dom, exif, fileinfo, filter, ftp, gd, gettext, gmp, hash, iconv, imagick, imap, intl, json, ldap, libsodium, libxml, mbstring, mcrypt, memcached, mongodb, mysqli, mysqlnd, newrelic, openssl, pcre, pdo, pdo_dblib, pdo_mysql, pdo_pgsql, pdo_sqlite, pgsql, phar, posix, readline, redis, reflection, session, shmop, simplexml, soap, sockets, spl, sqlite3, ssh3, standard, sysvmsg, sysvsem, sysvshm, tidy, tokenizer, wddx, xml, xmlreader, xmlwriter, xsl, yaml, zend opcache, zip, zlib
</p>
<p class="type-s">
    <strong>PHP 5</strong>: apc, apcu, bcmath, blackfire, bz2, calendar, cgi-fcgi, core, ctype, curl, date, dba, dom, ereg, exif, fileinfo, filter, ftp, gd, geoip, gettext, gmp, gnupg, hash, iconv, igbinary, imagick, imap, intl, ioncube, json, ldap, libsodium, libxml, mbstring, mcrypt, memcache, memcached, mhash, mongo, mongodb, mssql, mysql, mysqli, mysqlnd, newrelic, oauth, openssl, pcre, pdo, pdo_dblib, pdo_mysql, pdo_pgsql, pdo_sqlite, pgsql, phalcon, phar, posix, readline, redis, reflection, session, shmop, simplexml, soap, sockets, solr, sourceguardian, spl, sqlite3, ssh3, standard, stomp, sysvmsg, sysvsem, sysvshm, tidy, tokenizer, wddx, xml, xmlreader, xmlwriter, xsl, yaml, zend opcache, zip, zlib
</p>
