<div class="sectionHeading row m-top-l">
    <h4>
        Remote SSH execution
    </h4>
    <a href="{{ help_url }}/remote-ssh-execution-pro" class="auto linkstyle flex-end type-s">
        About remote SSH execution
    </a>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>PHP memory limit in execution<a href="#ref-deploy-memory" class="reflink">24</a></td>
            <td class="numbers">512 MB</td>
        </tr>
            <tr>
                <td>Max execution time<a href="#ref-max-remote-execution-time" class="reflink">24</a></td>
                <td class="numbers">20 m</td>
            </tr>
    </table>
</div>
