<div class="row m-bottom-s m-top-l">
    <h4 id="ssh-and-sftp">
        SSH <span class="amp">&amp;</span> SFTP
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Available memory <a href="#ref-ssh-memory" class="reflink">21</a></td>
            <td>See PHP memory above</td>
        </tr>
        <tr>
            <td>Max concurrent logins <a href="#ref-ssh-concurrency" class="reflink">21</a></td>
            <td class="numbers">5</td>
        </tr>
    </table>
</div>
