<div class="row m-bottom-s m-top-l">
    <h4 id="storage-and-traffic">
        Traffic <span class="amp">&amp;</span> temp storage
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Included traffic per month and App <a href="#ref-traffic" class="reflink">21</a></td>
            <td class="numbers">50 GB</td>
        </tr>
        <tr>
            <td>Each additional 5 GB traffic</td>
            <td class="numbers"><span class="type-thin">€</span>1</td>
        </tr>
        <tr>
            <td>Temporary storage per App<a href="#ref-temporary-storage" class="reflink">21</a></td>
            <td class="numbers">2 GB</td>
        </tr>
    </table>
</div>
