
<div class="row sectionHeading m-top-l" id="software">
    <h4>
        Software versions
    </h4>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <tr>
            <td>Apache</td>
            <td class="numbers">2.4</td>
        </tr>
        <tr>
            <td>PHP</td>
            <td class="numbers">7.0 or 5.6</td>
        </tr>
        <tr>
            <td>MySQL</td>
            <td class="numbers">5.7</td>
        </tr>
    </table>
</div>
